{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "anonymize data"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>{% translate "anonymize data"|capfirst %}</h1>
      <p>
        {% translate "You can anonymize test and local data, please note that:" %}
        <ul>
          <li>{% translate "Anonymization is not reversible" %}</li>
          <li>{% translate "Anonymization is not available for production data" %}</li>
          <li>{% translate "Names, usernames, emails, addresses will be anonymized" %}</li>
          <li>{% translate "Documents, if available, will be replaced with generic documents" %}</li>
        </ul>
      </p>
      <p>
        <strong>
          {% translate "Even if the data is anonymized, it is still possible to find a student's name through the abstract of the paper or the messages/grades sent. Please treat test site data with caution." %}
        </strong>
      </p>
      <div class="alert alert-primary" role="alert">
        <div class="alert-message">
          {% translate "After data anonymization, the new password for all usernames will be" %} <strong>{{ settings.DEFAULT_PASSWORD }}</strong>
        </div>
      </div>
      {% crispy form %}
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
