{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "anonymize data"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>{% translate "anonymize data"|capfirst %}</h1>
      <p>{% translate "Task UID" %}: {{ task_id }}</p>
      <div class="progress-wrapper">
        <div id="progress-bar"
             class="progress-bar"
             style="background-color: #68a9ef;
                    width: 0%">&nbsp;</div>
      </div>
      <div id="progress-bar-message" class="mt-2">{% translate "Waiting for progress to start..." %}</div>
      <div id="celery-result" class="mt-4"></div>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script>
    const progressUrl = "{% url 'celery_progress:task_status' task_id %}";

    function customResult(resultElement, result) {
      const h2Element = document.createElement("h2");
      {
        # djlint: off #
      }
      h2Element.textContent = "{% translate 'Imported Students' %}";

      const h2ErrorElement = document.createElement("h2");
      h2ErrorElement.textContent = "{% translate 'Import Errors' %}";

      const pErrorElement = document.createElement("p");
      pErrorElement.textContent = "{% translate 'The following ISA IDs were not found in the directory and could not be imported!' %}";
      {
        # djlint: on #
      }
      const ulElement = document.createElement("ul");

      for (let i = 0; i < result["attempts"].length; i++) {
        const liElement = document.createElement("li");
        liElement.textContent = result["attempts"][i]["student"];
        ulElement.appendChild(liElement);
      }

      resultElement.appendChild(h2Element);
      resultElement.appendChild(ulElement);
      resultElement.appendChild(h2ErrorElement);

      if (result["errors"] !== null && Array.isArray(result["errors"])) {
        resultElement.appendChild(pErrorElement);
        const ulErrorElement = document.createElement("ul");
        for (let i = 0; i < result["errors"].length; i++) {
          const liErrorElement = document.createElement("li");
          liErrorElement.textContent = result["errors"][i];
          ulErrorElement.appendChild(liErrorElement);
        }
        resultElement.appendChild(ulErrorElement);
      } else {
        const pNoErrorElement = document.createElement("p");
        pNoErrorElement.textContent = "No errors";
        resultElement.appendChild(pNoErrorElement);
      }

    }

    document.addEventListener("DOMContentLoaded", function() {
      CeleryProgressBar.initProgressBar(progressUrl, {
        onResult: customResult,
      });
    });
  </script>
{% endblock inline_javascript %}
