{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Assignments"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <table class="table" id="proposalsTable">
        <thead>
          <tr>
            <th>{% trans 'title'|capfirst %}</th>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'major'|capfirst %}</th>
            <th>{% trans 'supervisor'|capfirst %}</th>
            <th>{% trans 'validation'|capfirst %}</th>
            <th>{% trans 'acceptation'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for assignment in object_list %}
            <tr>
              <td>
                <a href="{{ assignment.proposal.get_absolute_url }}">{{ assignment.proposal.title }}</a> <span class="badge {{ assignment.proposal.current_status.badge_class }}">{{ assignment.proposal.current_status.get_status_display }}</span>
              </td>
              <td>{{ assignment.proposal.attempt.student }}</td>
              <td>{{ assignment.proposal.attempt.major.code }}</td>
              <td>
                {% if assignment.supervisor %}
                  {{ assignment.supervisor }}
                {% else %}
                  {{ assignment.suggestion }}
                {% endif %}
              </td>
              <td>
                {% if assignment.validated %}
                  <i class="fas fa-check text-success"></i> {{ assignment.request_date|date:"SHORT_DATE_FORMAT" }}
                {% elif assignment.validated == False %}
                  <i class="fas fa-xmark text-danger"></i> {{ assignment.request_date|date:"SHORT_DATE_FORMAT" }}
                {% else %}
                  <a href="{{ assignment.proposal.get_absolute_url }}"
                     class="btn btn-primary btn-sm">{% trans 'validate' %}</a>
                {% endif %}
              </td>
              <td>
                {% if assignment.accepted %}
                  <i class="fas fa-check text-success"></i> {{ assignment.response_date|date:"SHORT_DATE_FORMAT" }}
                {% elif assignment.accepted == False %}
                  <i class="fas fa-xmark text-danger"></i> {{ assignment.response_date|date:"SHORT_DATE_FORMAT" }}
                {% elif assignment.waiting_response %}
                  <i class="fas fa-stopwatch text-primary"></i> {{ assignment.waiting_response }}
                  {% if assignment.reminders %}
                    <a href="{% url "tm:assignments-toggle-reminders" assignment.id %}"
                       class="ms-2">
                      <i class="fas fa-bell"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         title="{% translate "Reminders are sent every 4 days" %}"></i></a>
                  {% else %}
                    <a href="{% url "tm:assignments-toggle-reminders" assignment.id %}"
                       class="ms-2">
                      <i class="fas fa-bell-slash"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         title="Reminders are disabled"></i></a>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#proposalsTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
