{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "Attempt"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=object %}
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch">
      {% include "tm/snippets/personal_leave_card.html" with attempt=object %}
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch">
      {% include "tm/snippets/student_exception_card.html" with attempt=object %}
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch">
      {% include "tm/snippets/attempt_status_card.html" with attempt=object %}
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">{% translate "calendar"|capfirst %}</h5>
        </div>
        {% include "tm/snippets/calendar_card.html" with calendar=object.calendar %}
      </div>
    </div>
  </div>
{% endblock %}
{% block modal %}
{% endblock modal %}
