{% extends "base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <h3>
        <strong>{% trans 'Master Thesis Calendar' %}</strong>
      </h3>
    </div>
    <div class="col-auto ms-auto text-end mt-n1"></div>
  </div>
  <div class="row">
    <div class="col-12 d-flex order-2 order-xxl-1">
      <div class="card flex-fill">
        <div class="card-header">
          <h5 class="card-title mb-2">{{ object.label }}</h5>
          <p>
            <i>{{ object.comment }}</i>
          </p>
        </div>
        <div class="card-body d-flex">
          {% if gantt_data %}
            <div id="gantt_chart_div" class="w-100"></div>
          {% else %}
            <p class="text-info">{% trans 'The calendar for this session is not yet available.' %}</p>
          {% endif %}
        </div>
        {% include "tm/snippets/calendar_card.html" with calendar=object %}
      </div>
    </div>
  </div>
{% endblock content %}
{% block modal %}
{% endblock modal %}
{% comment %} djlint:off {% endcomment %}
{% block javascript %}
  {{ block.super }}
  {% if gantt_data %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages': ['timeline']
      });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        const options = {
          timeline: {
            colorByRowLabel: true,
            showRowLabels: false
          },
          alternatingRowStyle: false,
          tooltip: {
            isHtml: true,
          },
          height: 245,
        };
        let gantt_chart = new google.visualization.Timeline(document.getElementById('gantt_chart_div'));
        let json_data = new google.visualization.DataTable({{ gantt_data|safe }});
        gantt_chart.draw(json_data, options);
      }
</script>
  {% endif %}
{% endblock javascript %}
{% comment %} djlint:on {% endcomment %}
