{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "create account from the HES-SO directory"|capfirst %}
{% endblock %}
{% block content %}
  <style>
    .autocomplete-input-black {
      border: 1px solid #000000;
    }
  </style>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% blocktrans %}
                <p>You can create a new account from the HES-SO directory.
                  Please search for the name in the directory and select the corresponding person.
                </p>
              {% endblocktrans %}
            <p class="text-danger">
              {% translate "It is currently not possible to automatically create an account for an external user. Please contact support in this case." %}
            </p>
            <div class="autocomplete mb-3" id="autocomplete-account">
              <input class="autocomplete-input autocomplete-input-black"
                     placeholder="{% translate 'Search for a user in the HES-SO directory...' %}"
                     aria-label="Search" />
              <ul class="autocomplete-result-list">
              </ul>
            </div>
            {{ form|crispy }}
            <button type="submit" value="create" class="btn btn-outline-success">{% trans 'create account'|capfirst %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const hesso_input = document.getElementById('id_hesso_id');

      new Autocomplete('#autocomplete-account', {
        search: input => {
          //const url = `{% url 'tm:attempts-autocomplete' %}?people=${encodeURI(input)}`
          const url = `https://mscba.hes-so.ch/tm/people-search?people=${encodeURI(input)}`

          return new Promise(resolve => {
            if (input.length < 4) {
              return resolve([])
            }

            fetch(url)
              .then(response => response.json())
              .then(data => {
                resolve(data.results)
              })
          })
        },

        renderResult: (result, props) => `
              <li ${props}>
                <span class="hesso-people-name">${result.display_name}</span>
                <span class="hesso-people-school">${result.schools}</span>
              </li>
          `,

        getResultValue: result => result.display_name,

        onSubmit: result => {
          hesso_input.value = result.id;
        }
      })
    })
  </script>
{% endblock inline_javascript %}
