{% extends "base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <h3>
        <strong>
          {% if attempt %}
            {{ attempt.major }}
          {% else %}
            {% trans 'Master Theses' %}
          {% endif %}
        </strong> {{ current_session.name }}
      </h3>
    </div>
    <div class="col-auto ms-auto text-end mt-n1">
      <!--<a href="#" class="btn btn-light bg-white me-2">Invite a Friend</a>
      <a href="#" class="btn btn-primary">New Project</a>-->
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex order-2 order-xxl-1">
      <div class="card flex-fill">
        <div class="card-header">
          <h5 class="card-title mb-0">{% trans 'Master Thesis Calendar' %}</h5>
        </div>
        <div class="card-body">
          {% if gantt_data %}
            <div id="gantt_chart_div" class="w-100"></div>
            <div>
              <a class="btn btn-light float-end"
                 href="{% url 'tm:calendar-detail' calendar.id %}"><i class="fa fa-calendar"></i> {% trans 'Calendar details' %}</a>
            </div>
          {% else %}
            <p class="text-info">{% trans 'The calendar for this session is not yet available.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if request.user.is_student %}
    {% if request.user.attempt %}
      {% if attempt.has_exceptions %}
        <div class="row">
          <div class="col">{% include 'tm/snippets/student_exception_alert.html' %}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-md-6 col-xl-3 d-flex order-2 order-xxl-1">
          <div class="card flex-fill">
            <div class="card-header">
              <div class="card-actions float-end">
                <span class="badge {% if attempt.proposal_done %}bg-success {% elif calendar.proposal_due %}bg-danger {% else %}bg-primary {% endif %}">{{ calendar.proposal_end }}</span>
              </div>
              <h5 class="card-title mb-0">{% trans 'Pre-proposal' %}</h5>
            </div>
            <div class="card-body">
              {% for proposal in attempt.proposals.all %}
                <div class="row">
                  <div class="col">
                    <a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a>
                    <span class="ms-1 badge {{ proposal.current_status.badge_class }}">{{ proposal.current_status.get_status_display }}</span>
                  </div>
                </div>
              {% endfor %}
              {% if request.user.is_student and not attempt.proposal_done %}
                <div class="row mt-4">
                  <div class="col">
                    <a href="{% url 'tm:add-proposal' %}" class="btn btn-primary float-end">{% trans "Add pre-proposal" %}</a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 d-flex order-2 order-xxl-1">
          <div class="card flex-fill">
            <div class="card-header">
              <div class="card-actions float-end">
                <span class="badge {% if attempt.project_done %}bg-success {% elif calendar.project_due %}bg-danger {% elif not attempt.proposal_done %}bg-secondary {% else %}bg-primary {% endif %}">{{ calendar.project_end }}</span>
              </div>
              <h5 class="card-title mb-0">{% trans 'Final Proposal' %}</h5>
            </div>
            <div class="card-body">
              {% for project in attempt.projects.all %}
                {% if forloop.first %}
                  <div class="row">
                    <div class="col">
                      <span><strong>{% trans 'Current revision' %}</strong></span>
                    </div>
                  </div>
                {% elif forloop.counter == 2 %}
                  <div class="row mt-3">
                    <div class="col">
                      <span><strong>{% trans 'Past revisions' %}</strong></span>
                    </div>
                  </div>
                {% endif %}
                <div class="row">
                  <div class="col">
                    <a href="{{ project.get_absolute_url }}">{{ project.title }}</a> (Rev. {{ project.revision }})
                    {% if project.publish_feedbacks %}
                      {% if project.accepted %}
                        <span class="ms-1 badge bg-success">{% trans 'accepted' %}</span>
                      {% elif project.accepted == False %}
                        <span class="ms-1 badge bg-danger">{% trans 'rejected' %}</span>
                      {% endif %}
                    {% elif project.submitted %}
                      <span class="me-1 badge bg-secondary">{% trans 'under review' %}</span>
                    {% else %}
                      <span class="me-1 badge bg-primary">{% trans 'draft' %}</span>
                    {% endif %}
                    {% if forloop.first %}
                      {% if project.pdf_file %}
                        <p class="float-end">
                          <a href="{{ project.pdf_file.url }}" target="_blank"><i class="fa fa-2x fa-file-pdf text-success"></i></a>
                        </p>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              {% if request.user.is_student and not attempt.project_done %}
                <div class="row mt-4">
                  <div class="col">
                    <button type="button"
                            class="btn btn-primary float-end"
                            data-bs-toggle="modal"
                            data-bs-target="#create-disposition">{% trans 'create proposal'|capfirst %}</button>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 d-flex order-2 order-xxl-1">
          <div class="card flex-fill">
            <div class="card-header">
              <div class="card-actions float-end">
                <span class="badge {% if attempt.thesis_done %}bg-success {% elif calendar.thesis_due %}bg-danger {% elif not attempt.project_done %}bg-secondary {% else %}bg-primary {% endif %}">{{ calendar.thesis_end }}</span>
              </div>
              <h5 class="card-title mb-0">{% trans 'Master Thesis' %}</h5>
            </div>
            <div class="card-body">
              {% if attempt.block_tm %}
                <div class="alert alert-danger" role="alert">
                  <div class="alert-message">
                    <p>
                      {% translate "Special situation prevents" %} <strong>{% trans "the completion of the master's thesis" %}</strong>.
                    </p>
                  </div>
                </div>
              {% else %}
                {% if attempt.theses.exists %}
                  {% with thesis=attempt.theses.first %}
                    <h4>
                      <a href="{{ thesis.get_absolute_url }}">{{ thesis.title }}</a>
                      {% if thesis.confidential %}
                        <i class="fa fa-user-secret text-warning"
                           data-bs-container="body"
                           data-bs-toggle="popover"
                           data-bs-placement="top"
                           data-bs-content="{% trans 'confidential'|capfirst %}"></i>
                      {% endif %}
                    </h4>
                    <dl>
                      <dt>{% trans 'supervisor'|capfirst %}</dt>
                      <dd>
                        {{ thesis.supervisor }}
                      </dd>
                      <dt>{% trans 'expert'|capfirst %}</dt>
                      <dd>
                        {% if thesis.expert_confirmed %}
                          {{ thesis.expert_name }}
                        {% else %}
                          {% trans 'To be determined' %}
                        {% endif %}
                      </dd>
                    </dl>
                    {% if calendar.report_open %}
                      <div class="mb-4">
                        <h5>
                          <strong>{% translate 'progress report'|capfirst %}</strong>
                        </h5>
                        {% if not thesis.student_report %}
                          <a href="{% url 'tm:add-progress-report' attempt.id %}"
                             class="btn btn-sm btn-primary">{% translate 'progress report'|capfirst %}</a>
                        {% else %}
                          <a href="{{ thesis.student_report.get_absolute_url }}">{% translate 'global assessment'|capfirst %}</a> <span class="badge bg-dark rounded-pill">{{ thesis.student_report.global_assessment }}</span>
                          {% if thesis.student_report.validated %}
                            <span class="badge bg-success">{% trans 'accepted' %}</span>
                          {% elif thesis.student_report.submitted %}
                            <span class="badge bg-secondary">{% trans 'under review' %}</span>
                          {% else %}
                            <span class="badge bg-primary">{% translate 'draft' %}</span>
                          {% endif %}
                        {% endif %}
                      </div>
                    {% endif %}
                    <h5>
                      <strong>{% translate 'submission format'|capfirst %}</strong>
                    </h5>
                    {% if thesis.paper_submission %}
                      <p>
                        {% trans 'paper and digital'|capfirst %} (<strong>{{ thesis.hard_copies }}</strong>
                        {% if thesis.hard_copies == 1 %}
                          {% trans 'copy' %}
                        {% else %}
                          {% trans 'copies' %}
                        {% endif %}
                        {% if thesis.attempt.session.require_printing_thesis %}
                          <span class="badge bg-secondary ms-2">{% translate 'secretariat'|capfirst %}</span>
                        {% endif %}
                        {% if thesis.paper_submission_supervisor %}
                          <span class="badge bg-secondary ms-2">{% translate 'supervisor'|capfirst %}</span>
                        {% endif %}
                        {% if thesis.paper_submission_expert %}
                          <span class="badge bg-secondary ms-2">{% translate 'expert'|capfirst %}</span>
                        {% endif %}
                        )
                      </p>
                    {% else %}
                      <p>{% trans 'digital only'|capfirst %}</p>
                    {% endif %}
                    <p class="float-end">
                      {% if thesis.pdf_file %}
                        <span><a href="{{ thesis.pdf_file.url }}" target="_blank"><i class="fa fa-4x fa-file-pdf text-success"></i></a></span>
                      {% else %}
                        <span><i class="fa fa-4x fa-file-pdf text-danger"></i></span>
                      {% endif %}
                      {% if thesis.zip_file %}
                        <span class="ms-2"><a href="{{ thesis.zip_file.url }}" target="_blank"><i class="fa fa-4x fa-file-archive text-secondary"></i></a></span>
                      {% endif %}
                    </p>
                    <p>
                      {% if not thesis.submitted and not calendar.thesis_due and attempt.project_done %}
                        <a href="{% url 'tm:change-thesis' thesis.id %}"
                           class="btn btn-outline-primary">{% translate 'submit'|capfirst %}</a>
                      {% endif %}
                    </p>
                  {% endwith %}
                {% else %}
                  <p class="text-primary">
                    {% trans "You can begin writing your masters's thesis as soon as the disposition has been accepted." %}
                  </p>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 d-flex order-2 order-xxl-1">
          <div class="card flex-fill">
            <div class="card-header">
              <div class="card-actions float-end">
                <span class="badge {% if attempt.defense_done %}bg-success {% elif calendar.defense_due %}bg-danger {% elif not attempt.thesis_done %}bg-secondary {% else %}bg-primary {% endif %}">{{ calendar.defense_start }} - {{ calendar.defense_end }}</span>
              </div>
              <h5 class="card-title mb-0">{% trans 'Thesis Defense' %}</h5>
            </div>
            <div class="card-body">
              {% if attempt.block_defense %}
                <div class="alert alert-danger" role="alert">
                  <div class="alert-message">
                    <p>
                      {% translate "Special situation prevents" %} <strong>{% trans "the defense of the master's thesis" %}</strong>.
                    </p>
                  </div>
                </div>
              {% else %}
                {% if not attempt.theses.exists %}
                  <p>{% translate "no master's thesis in progress"|capfirst %}</p>
                {% else %}
                  {% for defense in attempt.theses.first.defenses.all %}
                    <p>
                      <i class="fa fa-calendar-day"></i> <strong>{{ defense.defense_date|date:"SHORT_DATE_FORMAT" }} @ {{ defense.defense_date|time:"H:i" }}</strong>
                      <br />
                      {{ defense.place }} ({{ defense.room }})
                    </p>
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">{% include "tm/snippets/personal_leave_card.html" %}</div>
        <div class="col-sm-12 col-md-6 col-lg-4">{% include "tm/snippets/student_exception_card.html" %}</div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            <div class="alert-message">
              <h4 class="alert-heading">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="currentColor"
                     class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                     viewBox="0 0 16 16"
                     role="img"
                     aria-label="Warning:">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                {% trans 'no attempt linked to the current account'|capfirst %}!
              </h4>
              {% blocktrans %}
              <p>Your account is not linked to a thesis session. The main reason is that you are not logged in with
                 your academic account. On the login screen, select <strong>"HES-SO - Haute Ecole Spécialisée de Suisse
                  occidentale"</strong> as your home organization.</p>
              <p>You can check your current account information below. If the UID does not start with a number and end
                with <strong>@hes-so</strong>, you are logged in with the wrong account. In order to access your
                thesis session, you must log out, close your browser and start over with the correct account.</p>
              <p>If the information displayed below matches your academic account and you feel it is an error, please
                 contact support by sending the information below.</p>
            {% endblocktrans %}
              <hr />
              <dl>
                <dt>UID</dt>
                <dd>
                  {{ request.user.username }}
                </dd>
                <dt>{% trans 'name'|capfirst %}</dt>
                <dd>
                  {{ request.user.name }}
                  {% if request.user.email %}
                    (<a href="mailto:{{ request.user.email }}" class="alert-link">{{ request.user.email }}</a>)
                  {% endif %}
                </dd>
                <dt>{% trans 'major(s)'|capfirst %}</dt>
                <dd>
                  {% for major in request.user.majors.all %}
                    {{ major }}
                    {% if not forloop.last %}/{% endif %}
                  {% empty %}{% trans 'major not defined'|capfirst %}
                  {% endfor %}
                </dd>
                <dt>{% trans 'profile'|capfirst %}</dt>
                <dd>
                  {% if request.user.is_mh %}
                    {% trans 'Module head' %}
                  {% elif request.user.is_supervisor %}
                    {% trans 'Supervisor' %}
                  {% elif request.user.is_student %}
                    {% trans 'Student' %}
                  {% else %}
                    {% trans 'Profile undefined' %}
                  {% endif %}
                </dd>
                <dt>{% trans 'error'|capfirst %}</dt>
                <dd>
                  {% trans 'no attempt linked to the current account'|capfirst %}
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
  {% if request.user.is_expert %}
    <div class="row">
      <div class="col-12 d-flex order-2 order-xxl-1">
        <div class="card flex-fill">
          <div class="card-header">
            <h5 class="card-title mb-0">{% trans "Expert assessment of master's thesis" %}</h5>
          </div>
          <div class="card-body">
            {% if theses %}
              <table class="table">
                <thead>
                  <tr>
                    <th>{% trans "thesis"|capfirst %}</th>
                    <th>{% trans "supervisor"|capfirst %}</th>
                    <th>{% trans "acceptation"|capfirst %}</th>
                    <th>{% trans "submission date"|capfirst %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for thesis in theses %}
                    <tr>
                      <td>
                        <a href="{% url 'tm:expert-view-thesis' thesis.id %}">{{ thesis }}</a>
                      </td>
                      <td>
                        {{ thesis.supervisor }} <a href="mailto:{{ thesis.supervisor.email }}"><i class="fa fa-envelope"></i></a>
                      </td>
                      <td>
                        {% if thesis.expert_confirmed %}
                          <span class="text-success">{% translate "confirmed"|capfirst %}</span>
                        {% else %}
                          <span class="text-danger">{% translate "not yet confirmed"|capfirst %}</span>
                        {% endif %}
                      </td>
                      <td>{{ thesis.attempt.current_calendar.thesis_end|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p class="text-info">{% trans 'You have no theses to review at the moment' %}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
{% block modal %}
  <div class="modal fade"
       id="create-disposition"
       tabindex="-1"
       aria-labelledby="create-disposition-label"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{% url 'tm:add-disposition' %}" method="post">
          {% csrf_token %}
          <div class="modal-header bg-success">
            <h5 class="modal-title text-white" id="create-disposition-label">{% trans 'Create your disposition' %}</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% if project_proposal %}
              {% blocktrans with title=project_proposal.title %}
                  <p>In order to start working on your disposition, create a new disposition based on your projet
                    proposal entitled: <strong>"{{ title }}"</strong>.
                  </p>
                {% endblocktrans %}
              <input type="hidden" name="proposal" value="{{ project_proposal.id }}" />
            {% elif project_form %}
              {% blocktrans %}
                  <p>In order to create your disposition, select the project proposal that you will pursue from the
                     list of accepted proposals.
                  </p>
                  <div class="mb-3">
                    {{ project_form }}
                  </div>
                {% endblocktrans %}
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">{% trans 'submit'|capfirst %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock modal %}
{% block javascript %}
  {{ block.super }}
  {% if gantt_data %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% comment %} djlint:off {% endcomment %}
    <script type="text/javascript">
      google.charts.load('current', {
        'packages': ['timeline']
      });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        const options = {
          timeline: {
            colorByRowLabel: true,
            showRowLabels: false
          },
          alternatingRowStyle: false,
          tooltip: {
            isHtml: true,
          },
          height: 245,
        };
        let gantt_chart = new google.visualization.Timeline(document.getElementById('gantt_chart_div'));

        let json_data = new google.visualization.DataTable({{ gantt_data|safe }});
        gantt_chart.draw(json_data, options);
      }
</script>
{% comment %} djlint:on {% endcomment %}
{% endif %}
{% endblock javascript %}
