{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "defenses"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <table class="table" id="reportsTable">
        <thead>
          <tr>
            <th>{% translate 'student'|capfirst %}</th>
            <th>{% translate 'major'|capfirst %}</th>
            <th>{% translate 'supervisor'|capfirst %}</th>
            <th>{% translate 'expert'|capfirst %}</th>
            <th data-type="date">{% translate 'date'|capfirst %}</th>
            <th>{% translate "invitation"|capfirst %}</th>
            <th>{% translate 'hard copies'|capfirst %}</th>
            <th>{% translate "authorization to publish"|capfirst %}</th>
            <th>{% translate "expert fee statement"|capfirst %}</th>
            <th>{% translate "thesis assessment"|capfirst %}</th>
            <th>{% translate "result"|capfirst %}</th>
            <th data-sortable="False"></th>
            <th data-sortable="False"></th>
          </tr>
        </thead>
        <tbody>
          {% for defense in object_list %}
            <tr>
              <td class="text-nowrap">
                <a href="{% url 'tm:view-thesis' defense.master_thesis.id %}"
                   class="d-block">{{ defense.master_thesis.attempt.student }}</a>
              </td>
              <td>{{ defense.master_thesis.attempt.major.code }}</td>
              <td class="text-nowrap">
                {{ defense.master_thesis.supervisor }}
                {% if defense.master_thesis.co_supervisors.count > 0 %}
                  & {{ defense.master_thesis.co_supervisors.all|join:", " }}
                {% endif %}
              </td>
              <td class="text-nowrap">{{ defense.master_thesis.expert }}</td>
              <td>
                {{ defense.defense_date|date:"d.m.Y" }}
                {% if defense.place != "Other" %}
                  {% if defense.room %}
                    <i class="fa text-success fa-calendar-check"></i> ({{ defense.room }})
                  {% else %}
                    <i class="fa text-danger fa-calendar-times"></i>
                  {% endif %}
                {% endif %}
              </td>
              <td class="text-nowrap">
                {% if defense.invitation_sent %}
                  <i class="fa fa-envelope-open"></i> {{ defense.invitation_sent|date:"SHORT_DATE_FORMAT" }}
                {% endif %}
              </td>
              <td class="text-center">
                {% if defense.master_thesis.hard_copies_status %}
                  <i class="fa fa-book text-success"></i>
                {% else %}
                  <i class="fa fa-book text-danger"></i>
                {% endif %}
              </td>
              <td class="text-center">
                {% if defense.master_thesis.authorization_publish_file %}
                  {% if defense.master_thesis.authorization_publish == None %}
                    <a href="{{ defense.master_thesis.authorization_publish_file.url }}"
                       target="_blank"
                       class="btn btn-sm btn-outline-warning"><i class="fas fa-file-contract"></i></a>
                    <a href="{% url 'tm:record-publishing-authorization' defense.master_thesis.id %}"
                       class="btn btn-sm btn-warning">{% translate "record authorization"|capfirst %}</a>
                  {% else %}
                    <a href="{{ defense.master_thesis.authorization_publish_file.url }}"
                       target="_blank"
                       class="btn btn-sm btn-outline-success"><i class="fas fa-file-contract"></i></a>
                  {% endif %}
                {% else %}
                  <button disabled class="btn btn-sm btn-outline-danger">
                    <i class="fas fa-file-contract"></i>
                  </button>
                {% endif %}
              </td>
              <td class="text-center">
                {% if defense.statement_of_fees_file %}
                  {% if request.user.is_mh %}
                    <a href="{{ defense.statement_of_fees_file.url }}"
                       target="_blank"
                       class="btn btn-sm btn-outline-success"><i class="fa fa-file-invoice-dollar"></i></a>
                  {% else %}
                    <button disabled class="btn btn-sm btn-outline-success">
                      <i class="fa fa-file-invoice-dollar"></i>
                    </button>
                  {% endif %}
                {% else %}
                  <button disabled class="btn btn-sm btn-outline-danger">
                    <i class="fa fa-file-invoice-dollar"></i>
                  </button>
                {% endif %}
              </td>
              <td class="text-center">
                {% if defense.assessment_file %}
                  <a href="{{ defense.assessment_file.url }}"
                     target="_blank"
                     class="btn btn-sm btn-outline-success"><i class="fa fa-file"></i></a>
                {% else %}
                  <button disabled class="btn btn-sm btn-outline-danger">
                    <i class="fa fa-file"></i>
                  </button>
                {% endif %}
              </td>
              <td class="text-center">
                <span class="badge {{ defense.get_result_class }}">{{ defense.get_result_display }}</span>
              </td>
              <td>
                {% if request.user.is_mh %}
                  {% if not defense.all_done %}
                    <a href="{% url 'tm:defense-documents-reminder' defense.id %}"
                       class="btn btn-sm btn-outline-primary"><i class="fa fa-bell"></i></a>
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if request.user.is_mh %}
                  <a href="{% url 'tm:thesis-download' defense.master_thesis.id %}"
                     class="btn btn-sm btn-outline-primary"><i class="fa fa-file-zipper"></i></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if request.user.is_mh %}
        <a href="{% url 'tm:reminder-experts' %}"
           class="btn btn-outline-primary">{% translate "send expert reminders"|capfirst %}</a>
        <a href="{% url 'tm:reminder-defenses' %}"
           class="btn btn-outline-primary ms-2">{% translate "send defense reminders"|capfirst %}</a>
        <a href="{% url 'tm:download-theses' %}"
           class="btn btn-outline-primary ms-2"><i class="fa fa-archive"></i> {% translate "download all theses"|capfirst %}</a>
        <a href="{% url 'tm:send-defense-invitations' %}"
           class="btn btn-outline-primary ms-2"><i class="fa fa-mail-bulk"></i> {% translate "send invitations"|capfirst %}</a>
        <a href="{% url 'tm:excel-theses-assessments' %}"
           class="btn btn-outline-primary ms-2"><i class="fa fa-file-excel"></i> {% translate "export assessments"|capfirst %}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#reportsTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
