{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "thesis"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=thesis.attempt %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          {% crispy form %}
          {% if perms.tm.can_override_defense_session_dates %}
            <button class="btn btn-outline-danger" id="disableMinMaxButton">
              {% translate "override session dates"|capfirst %}
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
  <script src="{% static 'js/flatpickr.l10n.fr.js' %}"></script>
  {% comment %} djlint:off {% endcomment %}
  <script>
    const defenseSessionStart = "{{ thesis.attempt.current_calendar.defense_start|date:'Y-m-d' }}"
    const defenseSessionEnd = "{{ thesis.attempt.current_calendar.defense_end|date:'Y-m-d' }}"
    const defenseDate = "{{ object.defense_date|date:'Y-m-d H:i' }}"

    // Calculate the start and end times for the day of defenseDate
    // This is used to enable the date picker if the defense date is outside the defense session
    const defenseDateObj = new Date(defenseDate);
    const defenseDateStart = defenseDateObj.setHours(0, 0, 0, 0);
    const defenseDateEnd = defenseDateObj.setHours(23, 59, 59, 0);

    document.addEventListener("DOMContentLoaded", function() {
        const placeField = document.getElementById("id_place");
        const roomField = document.getElementById("div_id_room");
        const otherLocationField = document.getElementById("div_id_other_location");

        // Set the initial display state
        if (placeField.value === "Other") {
          otherLocationField.style.display = "block";
          if (roomField) {
            roomField.style.display = "none";
          }
        } else {
          otherLocationField.style.display = "none";
          if (roomField) {
            roomField.style.display = "block";
          }
        }

        placeField.addEventListener("change", function() {
            if (placeField.value === "Other") {
                otherLocationField.style.display = "block";
                if (roomField) {
                  roomField.style.display = "none";
                }
            } else {
                otherLocationField.style.display = "none";
                if (roomField) {
                  roomField.style.display = "block";
                }
            }
        });

        // Date picker
        const datePicker = flatpickr("#id_defense_date", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            defaultDate: defenseDate,
            time_24hr: true,
            {% if LANGUAGE_CODE %}
            locale: "fr",
            {% else %}
            locale: "fr",
            {% endif %}
            enable: [
              {
                from: defenseSessionStart,
                to: defenseSessionEnd,
              },
              {
                from: defenseDateStart,
                to: defenseDateEnd,
              },
            ],
        });

        // Button to disable minDate and maxDate
        const disableMinMaxButton = document.getElementById("disableMinMaxButton");

        disableMinMaxButton.addEventListener("click", function() {
            // Disable minDate and maxDate by setting them to null
        datePicker.set("enable", [{
          from: new Date().fp_incr(-365),
          to: new Date().fp_incr(365)
        }]);
        });

    });
</script>
{% comment %} djlint:on {% endcomment %}
{% endblock inline_javascript %}
