{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "defense"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=object.master_thesis.attempt %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>{% translate "Master's thesis assessment" %}</h2>
          <p>
            <strong>{% translate "result"|capfirst %}: {{ object.get_result_display }}</strong>
            <br />
            <strong>{% translate "grade"|capfirst %}:</strong> {{ object.grade }}
            <br />
            <a href="{{ defense.assessment_file.url }}" target="_blank"><i class="fa fa-file-pdf text-success"></i> {% translate "thesis assessment"|capfirst %}</a>
          </p>
          <div class="alert alert-danger" role="alert">
            <div class="alert-message">
              <h4 class="alert-heading">{% translate "remediation"|capfirst %}</h4>
              <p>
                {% blocktranslate with date=defense.remediation_objectives_deadline|date:"SHORT_DATE_FORMAT"%}In the case of remediation, you will have <strong>5 days after the defense (until {{ date }})</strong> to complete the remediation objectives. The 14-day remediation period begins when the supervisor submits the remediation objectives.{% endblocktranslate %}
              </p>
              <p>
                {% translate "You are welcome to leave the remediation goals blank as long as you complete them within the next 5 days." %}
              </p>
              <hr />
              <p>
                {% translate "The remediation is the subject of a new defense to be scheduled within two weeks of the remediation return. The remediation defense is attended by the expert and the supervisor. For organizational reasons, it is possible to organize the remediation defense on Teams." %}
              </p>
              <p class="mb-0">
                {% translate "Once the remediation objectives have been validated, the remediation dates and defense period are automatically communicated to all participants." %}
              </p>
            </div>
          </div>
          <div class="alert alert-secondary" role="alert">
            <div class="alert-message">
              <h4 class="alert-heading">{% translate "remediation objectives"|capfirst %}</h4>
              {{ object.remediation_objectives.html|safe }}
              <hr />
              <p class="mb-0">
                {% translate "Please contact your supervisor if you have any questions about the remediation objectives." %}
              </p>
            </div>
          </div>
          <a href="{% url 'tm:submit-thesis-assessment' defense.id %}"
             class="btn btn-outline-primary">{% translate "edit remediation objectives"|capfirst %}</a>
          <button type="button"
                  class="btn btn-success"
                  data-bs-toggle="modal"
                  data-bs-target="#submit-objectives">{% trans "validate remediation objectives"|capfirst %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
{% endblock inline_javascript %}
{% block modal %}
  {% if not object.submitted %}
    <div class="modal fade"
         id="submit-objectives"
         tabindex="-1"
         aria-labelledby="submit-objectives-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-success">
            <h5 class="modal-title text-white">{% trans "Submit the remediation objectives" %}</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              {% translate "Once the remediation objectives have been submitted by the supervisor and validated by the TM manager, the 14-day deadline will be communicated to all parties." %}
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url "tm:submit-remediation-objectives" object.id %}"
               class="btn btn-success">{% trans 'submit'|capfirst %}</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock modal %}
