{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "defense"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=object.master_thesis.attempt %}
  {% if role != "student" %}
    <div class="row mt-2 mb-2">
      <div class="col-md-12">
        <h2>
          {{ object.title }}
          {% if object.confidential %}
            <span class="ms-1 badge bg-secondary">{% translate 'confidential'|upper %}</span>
          {% endif %}
        </h2>
      </div>
    </div>
    {% if object.abstract %}
      <div class="row mt-2">
        <div class="col-12">{{ object.abstract.html|safe }}</div>
      </div>
    {% endif %}
  {% endif %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>{% translate "Master's thesis assessment" %}</h2>
          <p>
            {% translate "Please submit the master's thesis assessment at the end of the defense. Indicate the grade to the nearest tenth and upload the evaluation form duly completed and signed by the supervisor and the expert." %}
          </p>
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const gradeField = document.getElementById("id_grade");
      const remediationObjectivesDiv = document.getElementById("div_id_remediation_objectives");

      function displayAlertAndDiv() {
        const gradeValue = parseFloat(gradeField.value);
        if (gradeValue >= 3.5 && gradeValue < 4.0) {
          // Display the alert message and the remediation objectives div
          if (!document.getElementById("remediation-warning")) {
            // Add the alert div if it doesn't exist
            const alertDiv = createAlert();
            remediationObjectivesDiv.parentNode.insertBefore(alertDiv, remediationObjectivesDiv);
          }
          remediationObjectivesDiv.style.display = "block";
        } else {
          // Remove the alert message and hide the remediation objectives div
          const existingAlertDiv = document.getElementById("remediation-warning");
          if (existingAlertDiv) {
            existingAlertDiv.parentNode.removeChild(existingAlertDiv);
          }
          remediationObjectivesDiv.style.display = "none";
        }
      }

      function createAlert() {
        const alertDiv = document.createElement("div");
        alertDiv.id = "remediation-warning";
        alertDiv.className = "alert alert-danger";
        alertDiv.setAttribute("role", "alert");

        const alertMessageDiv = document.createElement("div");
        alertMessageDiv.className = "alert-message";

        alertMessageDiv.innerHTML = `
          <h4 class="alert-heading">{% translate "remediation"|capfirst %}</h4>
          <p>{% blocktranslate with date=defense.remediation_objectives_deadline|date:"SHORT_DATE_FORMAT"%}In the case of remediation, you will have <strong>5 days after the defense (until {{ date }})</strong> to complete the remediation objectives. The 14-day remediation period begins when the supervisor submits the remediation objectives.{% endblocktranslate %}</p>
          <p>{% translate "You are welcome to leave the remediation goals blank as long as you complete them within the next 5 days." %}</p>
          <hr />
          <p>{% translate "The remediation is the subject of a new defense to be scheduled within two weeks of the remediation return. The remediation defense is attended by the expert and the supervisor. For organizational reasons, it is possible to organize the remediation defense on Teams." %}</p>
          <p class="mb-0">{% translate "Once the remediation objectives have been validated, the remediation dates and defense period are automatically communicated to all participants." %}</p>
      `;

        alertDiv.appendChild(alertMessageDiv);
        return alertDiv;
      }

      // Initial display based on the form's initial value (e.g., during editing)
      displayAlertAndDiv();

      // Event listener for changes in the grade field
      gradeField.addEventListener("change", function() {
        displayAlertAndDiv();
      });
    });
  </script>
{% endblock inline_javascript %}
