{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "groups"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>{% translate "groups"|capfirst %}</h1>
      <p>{% translate "To change group membership, you must use the backend or ask an administrator." %}</p>
    </div>
  </div>
  {% for major in majors %}
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card flex-fill">
          <div class="card-header">
            <h2 class="card-title mb-0">{{ major.name }}</h2>
          </div>
          <div class="card-body">
            <h4>{% translate 'administrative group'|capfirst %}</h4>
            <p>
              {% translate "group name"|capfirst %}: <strong>{{ major.admin_group }}</strong>
              <br />
              {% for user in major.admin_group.user_set.all %}
                {{ user }} <a href="mailto:{{ user.email }}"><i class="fa fa-envelope me-2"></i></a>
              {% endfor %}
            </p>
            <h4>{% translate 'academic group'|capfirst %}</h4>
            <p>
              {% translate "group name"|capfirst %}: <strong>{{ major.academic_group }}</strong>
              <br />
              {% for user in major.academic_group.user_set.all %}
                {{ user }} <a href="mailto:{{ user.email }}"><i class="fa fa-envelope me-2"></i></a>
              {% endfor %}
            </p>
            <h4>{% translate 'secretary'|capfirst %}</h4>
            <p>
              {{ major.secretary }} <a href="mailto:{{ major.secretary.email }}"><i class="fa fa-envelope"></i></a>
            </p>
            <h4>{% translate 'coordinator'|capfirst %}</h4>
            <p>
              {{ major.coordinator }} <a href="mailto:{{ major.coordinator.email }}"><i class="fa fa-envelope"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
