{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "download / import documents"|capfirst %}
{% endblock %}
{% block content %}
  <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <link rel="stylesheet"
        href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />
  <style>
    .dz {
      border: dashed !important;
      background-color: #ccc !important;
      border-radius: 10px !important;
    }

    .dz:hover {
      background-color: aliceblue !important;
    }

    .dz-error-mark {
      background-color: red !important;
    }
  </style>
  <div class="row mb-2">
    <div class="col-md-12">
      <h1>{% translate "download / import documents"|capfirst %}</h1>
      <p>
        {% translate "You can download the documents in a ZIP file, sign them, and then import them again. The files are automatically updated in the students' records." %}
        {% translate "A file can be downloaded and imported multiple times. It is always the last imported version that is archived in the student record." %}
      </p>
      <p>
        <strong>
          {% translate "You can either digitally sign documents or print, sign, and scan them. If you scan the documents, you must print and scan ALL pages of the document (especially for the assessments)." %}
        </strong>
      </p>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h3>{% translate "download documents"|capfirst %}</h3>
            <p>
              {% translate "You can download all session documents for all majors or for the selected major. If you want to download a single document, you can do so from the student's records. You can then import it using the form below." %}
            </p>
            <form class="row row-cols-lg-auto g-3 align-items-center">
              <div class="col-12">
                <label class="visually-hidden" for="major">{% translate 'major'|capfirst %}</label>
                <select class="form-select" id="major">
                  <option value="0" selected>{% translate "All majors" %}</option>
                  {% for major in majors %}<option value="{{ major.id }}">{{ major.name }}</option>{% endfor %}
                </select>
              </div>
              <div class="col-12">
                <a href="{% url 'tm:download-publishing-authorization' %}"
                   id="publishingAuthorizationLink"
                   class="btn btn-outline-primary">{% translate "publishing consent forms"|capfirst %}</a>
              </div>
              <div class="col-12">
                <a href="{% url 'tm:download-statements-of-fees' %}"
                   id="statementsOfFeesLink"
                   class="btn btn-outline-primary">{% translate "statement of fees forms"|capfirst %}</a>
              </div>
              <div class="col-12">
                <a href="{% url 'tm:download-theses-assessments' %}"
                   id="thesesAssessmentsLink"
                   class="btn btn-outline-primary">{% translate "thesis assessment forms"|capfirst %}</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3>{% translate "import documents"|capfirst %}</h3>
          <p>
            {% translate "You can import any document that you have previously downloaded as a ZIP file, from a student records, or received via email." %}
          </p>
          {% comment %} djlint:off {% endcomment %}
          <form enctype='multipart/form-data'
                action="upload/"
                method='post'
                class="dropzone dz"
                id="importPDF">
                {% csrf_token %}
                <div class="fallback">
                  <input name="file" type="file" multiple />
                </div>
            </form>
{% comment %} djlint:on {% endcomment %}
<h4 class="mt-3">{% translate "imports"|capfirst %}</h4>
<ul id="dzResults">
<li id="dzEmpty">{% translate "No files uploaded..." %}</li>
</ul>
</div>
</div>
</div>
</div>
{% endblock %}
{% comment %} djlint:off {% endcomment %}
{% block inline_javascript %}
<script>
    Dropzone.autoDiscover = false;

  document.addEventListener("DOMContentLoaded", function() {
    const majorSelect = document.getElementById('major');
    // Store the original URLs
    const originalUrls = {
        publishingAuthorization: document.getElementById('publishingAuthorizationLink').href,
        statementsOfFees: document.getElementById('statementsOfFeesLink').href,
        thesesAssessments: document.getElementById('thesesAssessmentsLink').href
    };
    // Add event listener for change event
    majorSelect.addEventListener('change', function() {
        const selectedMajor = majorSelect.value;
        // If "All majors..." is selected, revert to original URLs
        if (selectedMajor === "0") {
            document.getElementById('publishingAuthorizationLink').href = originalUrls.publishingAuthorization;
            document.getElementById('statementsOfFeesLink').href = originalUrls.statementsOfFees;
            document.getElementById('thesesAssessmentsLink').href = originalUrls.thesesAssessments;
        } else {
            // Otherwise, append "?major=id" to the original URLs
            document.getElementById('publishingAuthorizationLink').href = originalUrls.publishingAuthorization + '?major=' + selectedMajor;
            document.getElementById('statementsOfFeesLink').href = originalUrls.statementsOfFees + '?major=' + selectedMajor;
            document.getElementById('thesesAssessmentsLink').href = originalUrls.thesesAssessments + '?major=' + selectedMajor;
        }
    });

    const dzResultsUL = document.getElementById('dzResults');
    const dzResultsEmpty = document.getElementById('dzEmpty');

    const myDropzone= new Dropzone('#importPDF',{
        url:'upload/',
        maxFilesize:10,
        createImageThumbnails: false,
        disablePreviews: true,
        acceptedFiles:'application/pdf,.pdf',
        dictDefaultMessage: '{% translate "Drop the PDF files you want to import into the students' records here. You can import multiple files at once!" %}',
        dictInvalidFileType: '{% translate "You can't upload files of this type. Only PDF files are accepted!" %}',
        success: function (response) {
            dzResultsEmpty.remove();
            const li = document.createElement('li');
            li.innerHTML = response.xhr.response;
            dzResultsUL.appendChild(li);
        }
    })


  });
</script>
{% endblock inline_javascript %}
{% comment %} djlint:on {% endcomment %}
