{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "import students"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>{% translate "import students"|capfirst %}</h1>
      <p>
        {% translate "To import students, please paste a list of ISA numbers into the field below. If a student is already in the system, this will create a new attempt for that student (retake)." %}
      </p>
      {% crispy form %}
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
