{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "library"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block nav %}
  <li class="breadcrumb-item active" aria-current="page">{% trans 'library'|capfirst %}</li>
{% endblock nav %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <table class="table" id="libraryTable">
        <thead>
          <tr>
            <th>{% trans 'title'|capfirst %}</th>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'supervisor'|capfirst %}</th>
            <th>{% trans 'session'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for thesis in object_list %}
            <tr>
              <td>
                <a href="{% url 'tm:library-detail' thesis.id %}">{{ thesis.title }}</a>
                {% if thesis.pdf_file and thesis.published %}
                  <i class="fa fa-file-pdf ms-2 text-success" aria-hidden="true"></i>
                {% elif thesis.pdf_file and perms.tm.can_view_confidential_theses %}
                  <i class="fa fa-file-pdf ms-2 text-warning" aria-hidden="true"></i>
                {% endif %}
                {% if thesis.confidential %}
                  <span class="badge bg-secondary ms-2">{% trans 'confidential' %}</span>
                {% endif %}
              </td>
              <td>{{ thesis.attempt.student }}</td>
              <td>{{ thesis.supervisor }}</td>
              <td>{{ thesis.attempt.major.code }} - {{ thesis.attempt.session }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#libraryTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
