{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "library"|capfirst %}
{% endblock %}
{% block nav %}
  <li class="breadcrumb-item">
    <a href="{% url 'tm:library' %}">{% trans 'library'|capfirst %}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">{{ object.attempt.student }}</li>
{% endblock nav %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>
        {{ object.title }}
        {% if object.confidential %}
          <span class="ms-2 badge bg-secondary">{% trans 'confidential' %}</span>
        {% endif %}
      </h1>
      <p class="h3">
        <i>{{ object.attempt.student }}</i>
      </p>
      <p class="mt-4">
        <strong>{% trans 'supervisor'|capfirst %}</strong>:
        {% if object.supervisor %}
          {{ object.supervisor }}
        {% else %}
          {% trans 'To be defined' %}
        {% endif %}
        <br />
        <strong>{% trans 'session'|capfirst %}</strong>:
        {{ object.attempt.major.code }} - {{ object.attempt.session }}
      </p>
      {% if object.published and object.pdf_file %}
        <a class="btn btn-lg btn-outline-success"
           href="{{ object.pdf_file.url }}"
           target="_blank"><i class="fa fa-file-pdf" aria-hidden="true"></i></a>
      {% elif perms.tm.can_view_confidential_theses and object.pdf_file %}
        <a class="btn btn-lg btn-outline-warning"
           href="{{ object.pdf_file.url }}"
           target="_blank"><i class="fa fa-file-pdf" aria-hidden="true"></i></a>
      {% endif %}
      <hr />
      <p>{{ object.abstract.html | safe }}</p>
    </div>
  </div>
{% endblock %}
{% block modal %}
{% endblock modal %}
