{% load static i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="Online platform for the management and supervision of {{ settings.APP_SHORT_TITLE }} HES-SO master's theses" />
    <meta name="author" content="Cedric Gaspoz" />
    <meta name="keywords"
          content="{{ settings.APP_SHORT_TITLE }} Master's Theses TM" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon"
          href="{% static 'images/favicons/icon-48x48.png' %}" />
    <title>
      {% block title %}
        {{ settings.APP_SHORT_TITLE }} TM Manager
      {% endblock title %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
          rel="stylesheet" />
    <link href="{% static 'css/light.css' %}" rel="stylesheet" />
    <link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" />
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    <script defer src="{% static 'js/autocomplete.js' %}"></script>
  </head>
  <!--
  HOW TO USE:
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->
  <body data-theme="default"
        data-layout="fluid"
        data-sidebar-position="left"
        data-sidebar-layout="default">
    <div class="wrapper">
      <div class="main">
        <main class="content">
          <div class="container-fluid p-0">
            <form method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="add-review-label">{% trans 'Link supervisor' %}</h5>
              </div>
              <div class="modal-body">
                <p>
                  {% trans 'new suggestion'|capfirst %}: <strong>{{ assignment.suggestion }}</strong>
                </p>
                {% blocktrans %}
                <p>You can create a new account from the HES-SO directory if you want to approve this suggestion.
                  Please search for the name in the directory and select the corresponding person.
                  Otherwise, you can reject the suggestion.
                </p>
              {% endblocktrans %}
                <div class="autocomplete" id="autocomplete">
                  <input class="autocomplete-input" placeholder="Search…" aria-label="Search" />
                  <ul class="autocomplete-result-list">
                  </ul>
                </div>
                {{ form|crispy }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="window.close()">Close</button>
                <button type="submit"
                        name="submit_action"
                        value="create"
                        class="btn btn-outline-success">{% trans 'create account'|capfirst %}</button>
                <button type="submit"
                        name="submit_action"
                        value="reject"
                        class="btn btn-outline-danger">{% trans 'reject'|capfirst %}</button>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const hesso_input = document.getElementById('id_hesso_id');

      new Autocomplete('#autocomplete', {
        search: input => {
          //const url = `{% url 'tm:attempts-autocomplete' %}?people=${encodeURI(input)}`
          const url = `https://mscba.hes-so.ch/tm/people-search?people=${encodeURI(input)}`

          return new Promise(resolve => {
            if (input.length < 4) {
              return resolve([])
            }

            fetch(url)
              .then(response => response.json())
              .then(data => {
                resolve(data.results)
              })
          })
        },

        renderResult: (result, props) => `
              <li ${props}>
                <span class="hesso-people-name">${result.display_name}</span>
                <span class="hesso-people-school">${result.schools}</span>
              </li>
          `,

        getResultValue: result => result.display_name,

        onSubmit: result => {
          hesso_input.value = result.id;
        }
      })
    })
  </script>
</html>
