{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "theses"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <table class="table" id="reportsTable">
        <thead>
          <tr>
            <th>{% trans 'title'|capfirst %}</th>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'major'|capfirst %}</th>
            <th>{% trans 'supervisor'|capfirst %}</th>
            <th>{% trans 'expert'|capfirst %}</th>
            <th>{% translate 'deadline'|capfirst %}</th>
            <th>{% translate 'defense'|capfirst %}</th>
            <th>{% translate 'hard copies'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for thesis in object_list %}
            <tr>
              <td>
                {% if thesis.confidential %}
                  <span class="ms-1 badge bg-secondary">{% translate 'confidential'|upper %}</span>
                {% endif %}
                <a href="{% url 'tm:view-thesis' thesis.id %}" class="d-block">{{ thesis.title }}</a>
              </td>
              <td class="text-nowrap">
                {{ thesis.attempt.student }}
                {% if thesis.attempt.retake %}
                  <span class="ms-1 badge bg-primary">{% translate 'retake'|upper %}</span>
                {% endif %}
              </td>
              <td>{{ thesis.attempt.major.code }}</td>
              <td class="text-nowrap">
                {% if thesis.supervisor %}
                  {{ thesis.supervisor }}
                {% else %}
                  TBA
                {% endif %}
                {% if thesis.co_supervisors.count > 0 %}& {{ thesis.co_supervisors.all|join:", " }}{% endif %}
              </td>
              <td class="text-nowrap">
                {% if thesis.expert %}
                  {{ thesis.expert }}
                  {% if not thesis.expert.profile_validated %}
                    <br />
                    <span class="badge bg-danger">{% translate 'no profile'|capfirst %}</span>
                  {% endif %}
                  {% if not thesis.expert_validation %}
                    <br />
                    <span class="badge bg-primary">{% translate 'not validated'|capfirst %}</span>
                  {% elif not thesis.expert_confirmed %}
                    <br />
                    <span class="badge bg-warning-dark">{% translate 'not confirmed'|capfirst %}</span>
                  {% endif %}
                {% else %}
                  TBA
                {% endif %}
              </td>
              <td>
                <span {% if thesis.attempt.current_calendar.thesis_due and not thesis.submitted %}class="text-danger" {% elif thesis.attempt.current_calendar.thesis_due and thesis.submitted %}class="text-success" {% endif %}>
                  {{ thesis.attempt.current_calendar.thesis_end|date:"SHORT_DATE_FORMAT" }}
                  {% if thesis.submitted %}
                    <span class="badge bg-success ms-2">{% translate 'submitted'|capfirst %}</span>
                  {% endif %}
                </span>
              </td>
              <td>
                {% if thesis.attempt.block_defense %}
                  <i class="fa text-danger fa-warning"></i>
                  <span class="text-danger">{% translate 'defense not allowed'|capfirst %}</span>
                {% else %}
                  {% if thesis.defenses.count == 0 %}
                    {% translate 'no defense planned yet'|capfirst %}
                  {% else %}
                    {% with defense=thesis.defenses.last %}
                      {{ defense.defense_date|date:"SHORT_DATETIME_FORMAT" }}
                      {% if defense.place != "Other" %}
                        {% if defense.room %}
                          <i class="fa text-success fa-calendar-check"></i> ({{ defense.room }})
                        {% else %}
                          <i class="fa text-danger fa-calendar-times"></i>
                        {% endif %}
                      {% endif %}
                      {% if defense.invitation_sent %}<i class="fa fa-envelope-open float-end"></i>{% endif %}
                    {% endwith %}
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if thesis.hard_copies_status %}
                  {% if thesis.paper_submission %}
                    <button disabled class="btn btn-sm btn-outline-success">
                      <i class="fa fa-book"></i>
                    </button>
                  {% else %}
                    {% trans 'digital only'|capfirst %}
                  {% endif %}
                {% elif request.user.is_mh %}
                  <a href="{% url 'tm:receive_hard_copies' thesis.id %}"
                     class="btn btn-sm btn-outline-danger"><i class="fa fa-book"></i></a> ({{ thesis.hard_copies }}{% translate 'ex.' %})
                {% else %}
                  <button disabled class="btn btn-sm btn-outline-danger">
                    <i class="fa fa-book"></i>
                  </button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if request.user.is_mh %}
        <a href="{% url 'tm:reminder-experts' %}"
           class="btn btn-outline-primary">{% translate "send expert reminders"|capfirst %}</a>
        <a href="{% url 'tm:reminder-defenses' %}"
           class="btn btn-outline-primary ms-2">{% translate "send defense reminders"|capfirst %}</a>
        <a href="{% url 'tm:download-theses' %}"
           class="btn btn-outline-primary ms-2"><i class="fa fa-archive"></i> {% translate "download all theses"|capfirst %}</a>
        <a href="{% url 'tm:send-defense-invitations' %}"
           class="btn btn-outline-primary ms-2"><i class="fa fa-mail-bulk"></i> {% translate "send invitations"|capfirst %}</a>
        <a href="{% url 'tm:excel-theses-assessments' %}"
           class="btn btn-outline-primary ms-2"><i class="fa fa-file-excel"></i> {% translate "export assessments"|capfirst %}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#reportsTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
