{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "thesis"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  <div class="row mt-2 mb-2">
    <div class="col-md-12">
      <h2>
        {{ object.title }}
        {% if object.confidential %}
          <span class="ms-1 badge bg-secondary">{% translate 'confidential'|upper %}</span>
        {% endif %}
      </h2>
    </div>
  </div>
  {% if object.abstract %}
    <div class="row mt-2">
      <div class="col-12">{{ object.abstract.html|safe }}</div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      {% if not object.expert_confirmed %}
        <div class="alert alert-warning" role="alert">
          <div class="alert-message">
            <h4 class="alert-heading">{% translate "Assessment of the master's thesis" %}</h4>
            {% blocktranslate with supervisor=object.supervisor.name defense_start=object.attempt.current_calendar.defense_start|date:"SHORT_DATE_FORMAT" defense_end=object.attempt.current_calendar.defense_end|date:"SHORT_DATE_FORMAT" %}
            <p>
              {{ supervisor }} has asked for your expertise on this Master's thesis. Your task is to :
              <ul>
                <li>Read the thesis (PDF or paper, whichever you prefer)</li>
                <li>Fill in the evaluation grid</li>
                <li>Attend the defense of the Master's thesis (60 minutes)</li>
                <li>Agree on the grade with the supervisor</li>
              </ul>
            </p>
            <p>For this work, you will be paid a fixed fee of CHF 500 or 5 hours (for HES-SO staff) on presentation of the fee statement form after the defense. </p>
            <p>The defense will take place <strong>between {{ defense_start }} and {{ defense_end }}</strong>. The supervisor will contact you shortly to arrange a date that suits your availability.</p>
            {% endblocktranslate %}
            <p class="mb-0">
              <button type="button"
                      class="btn btn-outline-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#decline-expertise">{% translate "decline the expertise"|capfirst %}</button>
              <button type="button"
                      class="btn btn-success"
                      data-bs-toggle="modal"
                      data-bs-target="#confirm-expertise">{% translate "accept the expertise"|capfirst %}</button>
            </p>
          </div>
        </div>
      {% else %}
        {% if not object.submitted %}
          <div class="alert alert-success" role="alert">
            <div class="alert-message">
              <h4 class="alert-heading">{% translate "Assessment of the master's thesis" %}</h4>
              {% blocktranslate with deadline=object.attempt.current_calendar.thesis_end|date:"SHORT_DATE_FORMAT" supervisor=object.supervisor.name supervisor_email=object.supervisor.email format=paper_submission_expert %}
            <p>Thank you for your willingness to evaluate this Master's thesis. You will receive the thesis in the format of your choice ({{ format }}) a few days after the deadline, which is
              <strong>{{ deadline}}</strong>.</p>
            <p class="mb-0">In the meantime, if you have any questions about this expertise, please contact the supervisor
              {{ supervisor }} (<a href="mailto:{{ supervisor_email }}">{{ supervisor_email }}</a>).</p>
            {% endblocktranslate %}
            </div>
          </div>
        {% else %}
          <div class="row mb-4">
            <div class="col">
              <h4>{% translate "documents"|capfirst %}</h4>
              <p>
                {% if object.pdf_file %}
                <a href="{{ object.pdf_file.url }}" target="_blank"><i class="fa fa-2x fa-file-pdf text-success"></i>
              {% translate "thesis"|capfirst %}</a>
            {% else %}
              <i class="fa fa-2x fa-file-pdf text-danger ms-4"></i> {% translate "thesis"|capfirst %}
            {% endif %}
            {% if object.zip_file %}
            <a href="{{ object.zip_file.url }}" target="_blank" class="ms-4"><i class="fa fa-2x fa-file-archive text-secondary"></i>
          {% translate "additional documents"|capfirst %}</a>
        {% endif %}
        {% if object.confidential %}
          {% if object.confidential_agreement_file %}
          <a href="{{ object.confidential_agreement_file.url }}"
             target="_blank"
             class="ms-4"><i class="fa fa-2x fa-file-contract text-secondary"></i>
        {% translate "confidentiality agreement"|capfirst %}</a>
      {% else %}
        <i class="fa fa-2x fa-file-contract text-danger ms-4"></i> {% translate "confidentiality agreement"|capfirst %}
      {% endif %}
    {% endif %}
  </p>
</div>
</div>
{% endif %}
{% endif %}
{% for defense in object.defenses.all %}
  <div class="row">
    <div class="col">
      <h4>{% translate "defense"|capfirst %}</h4>
      <p>
        <strong>{% translate 'date'|capfirst %} :</strong> {{ defense.defense_date|date:"SHORT_DATETIME_FORMAT" }}
        <br />
        <strong>{% translate 'place'|capfirst %} :</strong>
        {% if defense.place == 'Provence' %}
          {{ defense.get_place_display }}
          {% if defense.room %}
            ({% translate 'room' %} {{ defense.room }})
          {% else %}
            ({% translate 'room to be confirmed' %})
          {% endif %}
        {% else %}
          {{ defense.other_location }}
        {% endif %}
      </p>
      <p>
        <a href="{% url "tm:get-thesis-assessment" defense.id %}"
           target="_blank"><i class="fa fa-file-pdf"></i> {% translate "thesis assessment form"|capfirst %}</a> ({% translate "the supervisor will submit a consolidated assessment form at the end of the defense" %})
      </p>
      {% if not defense.statement_of_fees_file %}
        <div class="alert alert-secondary" role="alert">
          <div class="alert-message">
            <h4 class="alert-heading">{% translate "expert fee statement"|capfirst %}</h4>
            <p>
              {% translate "Please download the statement of fees form and return it completed and signed prior to the thesis defense." %}
            </p>
            <a href="{% url "tm:get-statement-of-fees" defense.id %}"
               target="_blank"><i class="fa fa-file-pdf"></i> {% translate "expert fee statement form"|capfirst %}</a>
            {% if statement_fees_form %}
              <form action="{% url "tm:submit-statement-of-fees" defense.id %}"
                    method="post"
                    enctype="multipart/form-data"
                    class="mt-4">
                {% csrf_token %}
                {{ statement_fees_form|crispy }}
                <button type="submit" class="btn btn-outline-primary mt-2">
                  {% translate "submit the statement of fees"|capfirst %}
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      {% else %}
        <p>
          <a href="{{ defense.statement_of_fees_file.url }}" target="_blank"><i class="fa fa-file-pdf text-success"></i> {% translate "statement of fees"|capfirst %}</a>
        </p>
      {% endif %}
    </div>
  </div>
{% empty %}
  <div class="row">
    <div class="col">
      <h4>{% translate "defense"|capfirst %}</h4>
      <p>
        {% translate 'no defense planned yet'|capfirst %}.
        {% blocktranslate with defense_start=object.attempt.current_calendar.defense_start|date:"SHORT_DATE_FORMAT" defense_end=object.attempt.current_calendar.defense_end|date:"SHORT_DATE_FORMAT" %}
                The defense will take place <strong>between {{ defense_start }} and {{ defense_end }}</strong>. The supervisor will contact you shortly to arrange a date that suits your availability.
              {% endblocktranslate %}
      </p>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
{% block modal %}
  {% if not object.expert_confirmed %}
    <div class="modal fade"
         id="confirm-expertise"
         tabindex="-1"
         aria-labelledby="confirm-expertise-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{% url 'tm:expert-acceptance-thesis' object.id %}"
                method="post">
            {% csrf_token %}
            <div class="modal-header bg-success">
              <h5 class="modal-title text-white" id="submit-report-label">{% trans "Assessment of the master's thesis" %}</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">{{ acceptation_form|crispy }}</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">{% trans 'submit'|capfirst %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade"
         id="decline-expertise"
         tabindex="-1"
         aria-labelledby="decline-expertise-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{% url 'tm:expert-decline-thesis' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-header bg-danger">
              <h5 class="modal-title text-white" id="submit-report-label">{% trans "Assessment of the master's thesis" %}</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">{{ decline_form|crispy }}</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">{% trans 'decline the expertise'|capfirst %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock modal %}
