{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "thesis"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  <div class="row mt-2 mb-2">
    <div class="col-md-12">
      <h2>
        {{ object.title }}
        {% if object.confidential %}
          <span class="ms-1 badge bg-secondary">{% translate 'confidential'|upper %}</span>
        {% endif %}
      </h2>
    </div>
  </div>
  {% if object.abstract %}
    <div class="row mt-2">
      <div class="col-12 mb-4">{{ object.abstract.html|safe }}</div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-4">{% translate "master's thesis"|capfirst %}</h4>
          <p>
            {% translate 'submission format'|capfirst %}:
            {% if object.paper_submission %}
              {% trans 'paper and digital'|capfirst %} (<strong>{{ object.hard_copies }}</strong>
              {% if object.hard_copies == 1 %}
                {% trans 'copy' %}
              {% else %}
                {% trans 'copies' %}
              {% endif %}
              :
              {% if object.attempt.session.require_printing_thesis %}
                <span class="badge bg-secondary ms-2">{% translate 'secretariat'|capfirst %}</span>
              {% endif %}
              {% if object.paper_submission_supervisor %}
                <span class="badge bg-secondary ms-2">{% translate 'supervisor'|capfirst %}</span>
              {% endif %}
              {% if object.paper_submission_expert %}
                <span class="badge bg-secondary ms-2">{% translate 'expert'|capfirst %}</span>
              {% endif %}
              )
              <br />
              {% translate 'submission of hard copies'|capfirst %}:
              {% if object.hard_copies_received %}
                {% translate 'received on' %} {{ object.hard_copies_received_date|date:"SHORT_DATE_FORMAT" }} {% translate 'by' %} {{ object.hard_copies_received_user }}
              {% else %}
                {% if role == "mh" %}
                  <a href="{% url 'tm:receive_hard_copies' object.id %}"
                     class="btn btn-sm btn-outline-success">{% translate 'confirm reception of hard copies'|capfirst %}</a>
                {% else %}
                  {% translate 'not yet submitted'|capfirst %}
                {% endif %}
              {% endif %}
            {% else %}
              {% trans 'digital only'|capfirst %}
            {% endif %}
          </p>
          <div class="row">
            <div class="col-md-6">
              <h5>{% translate "documents"|capfirst %}</h5>
              {% if role == "supervisor" and not object.submitted %}
                <div class="alert alert-success" role="alert">
                  <div class="alert-message">
                    <h4 class="alert-heading">{% translate "Assessment of the master's thesis" %}</h4>
                    {% blocktranslate with deadline=object.attempt.current_calendar.thesis_end|date:"SHORT_DATE_FORMAT" supervisor=object.supervisor.name supervisor_email=object.supervisor.email format=paper_submission_expert %}
                    <p>Thank you for your willingness to evaluate this Master's thesis. You will receive the thesis in the format of your choice ({{ format }}) a few days after the deadline, which is
                      <strong>{{ deadline}}</strong>.</p>
                    <p class="mb-0">In the meantime, if you have any questions about this expertise, please contact the supervisor
                      {{ supervisor }} (<a href="mailto:{{ supervisor_email }}">{{ supervisor_email }}</a>).</p>
                    {% endblocktranslate %}
                  </div>
                </div>
              {% else %}
                <p>
                  {% if object.pdf_file %}
                  <a href="{{ object.pdf_file.url }}" target="_blank"><i class="fa fa-2x fa-file-pdf text-success"></i>
                {% translate "thesis"|capfirst %}</a>
              {% else %}
                <i class="fa fa-2x fa-file-pdf text-danger ms-4"></i> {% translate "thesis"|capfirst %}
              {% endif %}
              {% if object.zip_file %}
              <a href="{{ object.zip_file.url }}" target="_blank" class="ms-4"><i class="fa fa-2x fa-file-archive text-secondary"></i>
            {% translate "additional documents"|capfirst %}</a>
          {% endif %}
          {% if object.confidential %}
            {% if object.confidential_agreement_file %}
            <a href="{{ object.confidential_agreement_file.url }}"
               target="_blank"
               class="ms-4"><i class="fa fa-2x fa-file-contract text-secondary"></i>
          {% translate "confidentiality agreement"|capfirst %}</a>
        {% else %}
          <i class="fa fa-2x fa-file-contract text-danger ms-4"></i> {% translate "confidentiality agreement"|capfirst %}
        {% endif %}
      {% endif %}
    </p>
    {% if object.confidential and not object.confidential_agreement_file %}
      <div class="alert alert-danger" role="alert">
        <div class="alert-message">
          <p>
            <strong>{% translate "confidentiality agreement"|capfirst %}</strong>
          </p>
          <p>
            {% blocktranslate %}
                        This master's thesis is confidential. You must submit the confidentiality agreement at the same
                        time as the thesis. It is <strong>your responsibility to forward the agreement</strong> to the
                        supervisor and expert for signature before the thesis submission deadline.
                      {% endblocktranslate %}
          </p>
          <a href="{% url "tm:get-confidentiality-agreement" object.id %}"
             target="_blank"><i class="fa fa-file-pdf"></i> {% translate "confidentiality agreement form"|capfirst %}</a>
        </div>
      </div>
    {% endif %}
    <p>
      {% translate 'submission'|capfirst %}:
      {% if object.submitted %}
        {{ object.submission_date|date:"SHORT_DATETIME_FORMAT" }}
      {% else %}
        {% translate 'not yet submitted'|capfirst %}
      {% endif %}
    </p>
  {% endif %}
</div>
<div class="col-md-6">
  {% if object.compilatio_score %}
    <h5>{% translate "plagiarism detection"|capfirst %}</h5>
    <p>
      <img src="{% static '/images/logos/compilatio.png' %}" width="100em" />
      <span class="h4 ms-2 {% if object.compilatio_score < 10 %}text-success{% else %}text-danger{% endif %}"><strong>{{ object.compilatio_score }}%</strong></span>
    </p>
    {% if object.compilatio_report %}
      <a href="{{ object.compilatio_report.url }}" target="_blank"><i class="fa fa-file-waveform text-secondary"></i> {% translate "analysis certificate"|capfirst %}</a>
    {% endif %}
  {% endif %}
</div>
</div>
{% if object.submitted %}
  {% if not object.authorization_publish_file %}
    {% if role == "student" %}
      <div class="alert alert-secondary" role="alert">
        <div class="alert-message">
          <h4 class="alert-heading">{% translate "authorization to publish"|capfirst %}</h4>
          <p>
            {% translate "Please download the publication authorization form and upload it signed before the thesis defense." %}
          </p>
          <a href="{% url "tm:get-publishing-authorization" object.id %}"
             target="_blank"><i class="fa fa-file-pdf"></i> {% translate "authorization to publish form"|capfirst %}</a>
          {% if publishing_agreement_form %}
            <form action="{% url "tm:submit-publishing-authorization" object.id %}"
                  method="post"
                  enctype="multipart/form-data"
                  class="mt-4">
              {% csrf_token %}
              {{ publishing_agreement_form|crispy }}
              <button type="submit" class="btn btn-outline-primary mt-2">
                {% translate "submit the authorization to publish form"|capfirst %}
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    {% elif role == "mh" %}
      <h5>{% translate "authorization to publish"|capfirst %}</h5>
      <p>{% translate "Student has not uploaded the Authorization to Publish form." %}</p>
      <a href="{% url "tm:get-publishing-authorization" object.id %}"
         target="_blank"><i class="fa fa-file-pdf"></i> {% translate "authorization to publish form"|capfirst %}</a>
    {% endif %}
  {% elif role == "student" or role == "mh" %}
    <h5>{% translate "authorization to publish"|capfirst %}</h5>
    <p>
      <a href="{{ object.authorization_publish_file.url }}" target="_blank"><i class="fa fa-file-pdf text-success"></i> {% translate "authorization to publish"|capfirst %}</a> ({{ object.get_authorization_publish_display }})
    </p>
  {% endif %}
{% endif %}
</div>
</div>
</div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-4">{% translate "expert"|capfirst %}</h4>
        {% if object.expert %}
          {% if not object.expert_confirmed and role == "student" %}
            <p>{% translate 'no expert assigned yet'|capfirst %}</p>
          {% else %}
            <p>
              {{ object.expert }}
              {% if role == "mh" %}
                <a href="mailto:{{ object.expert.email }}" class="ms-2"><i class="fa fa-envelope"></i></a>
                {% if not object.expert.profile_validated %}
                  <span class="badge bg-danger ms-2">{% translate 'no profile'|capfirst %}</span>
                {% endif %}
              {% endif %}
              {% if role != "student" %}
                {% if not object.expert_validation %}
                  <span class="badge bg-primary ms-2">{% translate 'not validated'|capfirst %}</span>
                {% elif not object.expert_confirmed %}
                  <span class="badge bg-warning-dark ms-2">{% translate 'not confirmed'|capfirst %}</span>
                {% endif %}
              {% endif %}
              {% if object.expert.current_job %}
                <br />
                <i>{{ object.expert.current_job }}
                  {% if object.expert.current_company %}({{ object.expert.current_company }}){% endif %}
                </i>
              {% endif %}
            </p>
            {% if object.expert.profile_linkedin %}
              <p>
                <i class="fa-brands fa-linkedin"></i> <a href="{{ object.expert.profile_linkedin }}" target="_blank">LinkedIn</a>
              </p>
            {% endif %}
            {% if role == "mh" %}
              <p>
                <i class="fa fa-graduation-cap"></i>
                {% if object.expert.highest_degree %}
                  {{ object.expert.highest_degree }} ({{ object.expert.year_of_graduation }})
                {% else %}
                  {% translate 'N/A' %}
                {% endif %}
              </p>
              <p>
                <strong>{% translate "address"|capfirst %}</strong>
                <br />
                {% if object.expert.address %}
                  {{ object.expert.address }}
                  <br />
                  {% if object.expert.additional_address %}
                    {{ object.expert.additional_address }}
                    <br />
                  {% endif %}
                  {{ object.expert.zip_code }} {{ object.expert.city }}
                {% else %}
                  {% translate 'N/A' %}
                {% endif %}
              </p>
            {% endif %}
            {% if not object.expert_validation and role == "mh" %}
              <a href="{% url 'tm:validate-expert' object.id %}"
                 class="btn btn-outline-success">{% translate 'validate expert proposal'|capfirst %}</a>
            {% endif %}
            {% if not object.expert.profile_validated and role == "mh" %}
              <a href="{% url 'tm:send-reminder-expert-profile' object.expert.id %}"
                 class="btn btn-outline-primary">{% translate "send a reminder to fill out the profile"|capfirst %}</a>
            {% endif %}
          {% endif %}
        {% else %}
          <p>{% translate 'no expert assigned yet'|capfirst %}</p>
          {% if role == "supervisor" or role == "mh" %}
            <a href="{% url 'tm:change-thesis' object.id %}"
               class="btn btn-outline-success">{% translate 'assign an expert'|capfirst %}</a>
            {% if role == "mh" %}
              <a href="{% url 'tm:reminder-expert' object.id %}"
                 class="btn btn-outline-primary ms-2">{% translate 'send reminder'|capfirst %}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-4">{% translate "defense"|capfirst %}</h4>
        {% if object.defenses.count == 0 %}
          {% if object.attempt.block_defense %}
            <div class="alert alert-danger" role="alert">
              <div class="alert-message">
                <p>
                  {% translate "Special situation prevents" %} <strong>{% trans "the defense of the master's thesis" %}</strong>.
                </p>
              </div>
            </div>
          {% else %}
            <p>{% translate 'no defense planned yet'|capfirst %}</p>
            {% if role == "supervisor" and object.expert_confirmed %}
              <a href="{% url 'tm:create-defense' object.id %}"
                 class="btn btn-outline-success">{% translate 'plan a defense'|capfirst %}</a>
            {% elif role == "mh" %}
              <a href="{% url 'tm:create-defense' object.id %}"
                 class="btn btn-outline-success">{% translate 'plan a defense'|capfirst %}</a>
              <a href="{% url 'tm:reminder-defense' object.id %}"
                 class="btn btn-outline-primary ms-2">{% translate 'send reminder'|capfirst %}</a>
            {% endif %}
          {% endif %}
        {% else %}
          {% for defense in object.defenses.all %}
            <p>
              <strong>{% translate 'date'|capfirst %} :</strong> {{ defense.defense_date|date:"SHORT_DATETIME_FORMAT" }}
              <br />
              <strong>{% translate 'place'|capfirst %} :</strong>
              {% if defense.place == 'Provence' %}
                {{ defense.get_place_display }}
                {% if defense.room %}
                  ({% translate 'room' %} {{ defense.room }})
                {% else %}
                  ({% translate 'room to be confirmed' %})
                {% endif %}
                {% if role == "mh" %}
                  <a href="{% url 'tm:book-room' defense.id %}"
                     class="btn btn-sm btn-outline-success">{% translate 'room booking'|capfirst %}</a>
                {% endif %}
              {% else %}
                {{ defense.other_location }}
              {% endif %}
              <br />
              <strong>{% translate 'invitation sent'|capfirst %} :</strong>
              {% if defense.invitation_sent %}
                {{ defense.invitation_sent|date:"SHORT_DATETIME_FORMAT" }}
              {% else %}
                {% translate 'pending' %}
              {% endif %}
              {% if role == "mh" %}
                <br />
                <a href="{% url 'tm:defense-change' defense.id %}"
                   class="btn btn-sm btn-outline-primary mt-2 me-2">{% translate 'update defense'|capfirst %}</a>
                <a href="{% url 'tm:defense-cancel' defense.id %}"
                   class="btn btn-sm btn-outline-danger mt-2">{% translate 'cancel defense'|capfirst %}</a>
              {% endif %}
            </p>
            {% if not defense.assessment_submitted %}
              {% if role == "supervisor" or role == "mh" %}
                <div class="alert alert-secondary" role="alert">
                  <div class="alert-message">
                    <h4 class="alert-heading">{% translate "thesis assessment"|capfirst %}</h4>
                    {% if not defense.grade %}
                      <p>
                        {% translate "Please download the thesis assessment form and upload it completed and signed <strong>after the thesis defense</strong>." %}
                      </p>
                      <a href="{% url "tm:get-thesis-assessment" defense.id %}"
                         target="_blank"><i class="fa fa-file-pdf"></i> {% translate "thesis assessment form"|capfirst %}</a>
                      <p>
                        <a href="{% url "tm:submit-thesis-assessment" defense.id %}"
                           class="btn btn-outline-primary mt-4">{% translate "submit thesis assessment"|capfirst %}</a>
                      </p>
                    {% elif defense.defense_remediation %}
                      <p>
                        {% blocktranslate with date=defense.remediation_objectives_deadline|date:"SHORT_DATE_FORMAT" %}You must complete and validate the remediation objectives until <strong>{{ date }}</strong>.{% endblocktranslate %}
                      </p>
                      <p>
                        <a href="{% url "tm:submit-thesis-assessment" defense.id %}"
                           class="btn btn-outline-primary mt-4">{% translate "validate remediation objectives"|capfirst %}</a>
                      </p>
                    {% else %}
                      <p>
                        <a href="{% url "tm:submit-thesis-assessment" defense.id %}"
                           class="btn btn-outline-primary mt-4">{% translate "submit thesis assessment"|capfirst %}</a>
                      </p>
                    {% endif %}
                  </div>
                </div>
              {% else %}
                <h5>{% translate "thesis assessment"|capfirst %}</h5>
                <p>{% translate "Not yet assessed" %}</p>
              {% endif %}
            {% else %}
              <h5>{% translate "thesis assessment"|capfirst %}</h5>
              <p>
                <strong>{% translate 'result'|capfirst %} : <span class="badge {{ defense.get_result_class }}">{{ defense.get_result_display }}</span></strong>
              </p>
              {% if defense.assessment_file %}
                {% if role == "supervisor" or role == "mh" %}
                  <p>
                    <a href="{{ defense.assessment_file.url }}" target="_blank"><i class="fa fa-file-pdf text-success"></i> {% translate "thesis assessment"|capfirst %}</a>
                  </p>
                {% endif %}
              {% endif %}
              {% if defense.defense_remediation %}
                <div class="alert alert-secondary" role="alert">
                  <div class="alert-message">
                    <h4 class="alert-heading">{% translate "remediation objectives"|capfirst %}</h4>
                    {{ defense.remediation_objectives.html|safe }}
                    <hr />
                    <p class="mb-0">
                      {% translate "Please contact your supervisor if you have any questions about the remediation objectives." %}
                    </p>
                  </div>
                </div>
              {% endif %}
            {% endif %}
            {% if role == "supervisor" or role == "mh" %}
              {% if not defense.statement_of_fees_file %}
                <div class="alert alert-secondary" role="alert">
                  <div class="alert-message">
                    <h4 class="alert-heading">{% translate "expert fee statement"|capfirst %}</h4>
                    <p>{% translate "The expert has not yet uploaded his or her statement of fees form." %}</p>
                    <a href="{% url "tm:get-statement-of-fees" defense.id %}"
                       target="_blank"><i class="fa fa-file-pdf"></i> {% translate "expert fee statement form"|capfirst %}</a>
                    {% if statement_fees_form %}
                      <form action="{% url "tm:submit-statement-of-fees" defense.id %}"
                            method="post"
                            enctype="multipart/form-data"
                            class="mt-4">
                        {% csrf_token %}
                        {{ statement_fees_form|crispy }}
                        <button type="submit" class="btn btn-outline-primary mt-2">
                          {% translate "submit the statement of fees"|capfirst %}
                        </button>
                      </form>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if role == "supervisor" or role == "mh" %}
  <div class="row">
    <div class="col-12">
      {% if role == "supervisor" and not object.expert_confirmed %}
        <p>
          <a href="{% url 'tm:change-thesis' object.id %}"
             class="btn btn-outline-primary">{% translate 'edit'|capfirst %}</a>
        </p>
      {% elif object.expert_confirmed %}
        <div class="alert-primary mb-2" role="alert">
          <div class="alert-message">
            <p>
              {% translate "The expert assignment has been confirmed. To change the expert, please contact the administration." %}
            </p>
          </div>
        </div>
      {% endif %}
      {% if role == "mh" %}
        <p>
          <a href="{% url 'tm:change-thesis' object.id %}"
             class="btn btn-outline-primary">{% translate 'edit'|capfirst %}</a>
        </p>
      {% endif %}
    </div>
  </div>
{% endif %}
{% if not object.submitted and role == "student" and not object.attempt.current_calendar.thesis_due %}
  <div class="row">
    <div class="col-12">
      <div class="alert-primary" role="alert">
        <div class="alert-message">
          {% blocktranslate with date=attempt.current_calendar.thesis_end|date:"SHORT_DATETIME_FORMAT" %}
            <p>This master's thesis has not yet been submitted. Please submit it by <strong>{{ date }}</strong>. Once submitted, you will not be able to edit it.</p>
          {% endblocktranslate %}
          {% if object.ready %}
            <button type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#submit-thesis">{% trans "submit the master's thesis"|capfirst %}</button>
          {% else %}
            <strong>{% translate "You are currently unable to submit your thesis due to the following problem(s):" %}</strong>
            <ul>
              {% if not object.pdf_file %}
                <li>{% translate "The PDF file of the master's thesis is missing" %}</li>
              {% endif %}
              {% if object.confidential and not object.confidential_agreement_file %}
                <li>{% translate "The confidential agreement file is missing" %}</li>
              {% endif %}
              {% if object.attempt.current_calendar.thesis_due %}
                <li>
                  {% now "SHORT_DATETIME_FORMAT" as current_time %}
                  {% blocktranslate with deadline=object.attempt.current_calendar.thesis_end|date:"SHORT_DATETIME_FORMAT" %}
                    The deadline to submit your thesis was {{ deadline }} it is currently <span class="text-danger"><strong>{{ current_time }}</strong></span>.
                  {% endblocktranslate %}
                </li>
              {% endif %}
            </ul>
          {% endif %}
          {% if not object.attempt.current_calendar.thesis_due %}
            <a href="{% url 'tm:change-thesis' object.id %}"
               class="btn btn-outline-primary">{% translate 'edit'|capfirst %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
{% block modal %}
  {% if not object.submitted %}
    <div class="modal fade"
         id="submit-thesis"
         tabindex="-1"
         aria-labelledby="submit-thesis-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{% url 'tm:submit-thesis' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-header bg-success">
              <h5 class="modal-title text-white" id="submit-report-label">{% trans "Submit your master's thesis" %}</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                {% translate "Once the master's thesis has been submitted, you will not be able to change the information. Please make sure that the title and abstract have been updated." %}
              </p>
            </div>
            {{ submit_form }}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">{% trans 'submit'|capfirst %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock modal %}
