{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "thesis"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=object.attempt %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <img class="img-fluid"
               src="{% url "tm:publishing-authorization-pdf2img" object.id %}" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">{% crispy form %}</div>
      </div>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const confidentialCheckbox = document.getElementById("id_confidential");
      const confidentialAgreementForm = document.getElementById("div_id_confidential_agreement_file");

      // Initially hide/show the confidential agreement form based on checkbox status
      toggleConfidentialAgreementForm(confidentialCheckbox.checked);

      // Add event listener to the checkbox to toggle the form
      confidentialCheckbox.addEventListener("change", function() {
        toggleConfidentialAgreementForm(this.checked);
      });

      function toggleConfidentialAgreementForm(isConfidential) {
        if (isConfidential) {
          confidentialAgreementForm.style.display = "block";
        } else {
          confidentialAgreementForm.style.display = "none";
        }
      }
    });
  </script>
{% endblock inline_javascript %}
