{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "thesis"|capfirst %}
{% endblock %}
{% block content %}
  <style>
    .select2-container .select2-selection--single {
      min-height: 2.5rem;
    }

    .select2-container {
      min-height: 2.5rem;
      width: 100% !important;
      min-width: 10em !important;
    }

    /* django-addanother bootstrap css fix */
    .related-widget-wrapper {
      padding-right: 40px;
      position: relative;
    }

    .related-widget-wrapper-link {
      position: absolute;
      top: 3px;
      right: 0px;
    }

    .related-widget-wrapper-link img {
      width: 2em;
    }
  </style>
  {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  {% if role != "student" %}
    <div class="row mt-2 mb-2">
      <div class="col-md-12">
        <h2>
          {{ object.title }}
          {% if object.confidential %}
            <span class="ms-1 badge bg-secondary">{% translate 'confidential'|upper %}</span>
          {% endif %}
        </h2>
      </div>
    </div>
    {% if object.abstract %}
      <div class="row mt-2">
        <div class="col-12">{{ object.abstract.html|safe }}</div>
      </div>
    {% endif %}
  {% endif %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">{% crispy form %}</div>
      </div>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const confidentialCheckbox = document.getElementById("id_confidential");
      const confidentialAgreementForm = document.getElementById("div_id_confidential_agreement_file");

      // Initially hide/show the confidential agreement form based on checkbox status
      toggleConfidentialAgreementForm(confidentialCheckbox.checked);

      // Add event listener to the checkbox to toggle the form
      confidentialCheckbox.addEventListener("change", function() {
        toggleConfidentialAgreementForm(this.checked);
      });

      function toggleConfidentialAgreementForm(isConfidential) {
        if (isConfidential) {
          confidentialAgreementForm.style.display = "block";
        } else {
          confidentialAgreementForm.style.display = "none";
        }
      }
    });
  </script>
{% endblock inline_javascript %}
