{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "theses mailing"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <table class="table" id="reportsTable">
        <thead>
          <tr>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'role'|capfirst %}</th>
            <th>{% trans 'name'|capfirst %}</th>
            <th>{% trans 'address'|capfirst %}</th>
            <th>{% translate 'additional address'|capfirst %}</th>
            <th>{% translate 'zip code'|capfirst %}</th>
            <th>{% translate 'city'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for thesis in object_list %}
            {% if thesis.paper_submission_supervisor %}
              <tr>
                <td>
                  <a href="{% url 'tm:view-thesis' thesis.id %}">{{ thesis.attempt.student.name }}</a>
                </td>
                <td>{% translate "supervisor"|capfirst %}</td>
                <td>{{ thesis.supervisor.name }}</td>
                <td>{{ thesis.supervisor.address }}</td>
                <td>{{ thesis.supervisor.additional_address }}</td>
                <td>{{ thesis.supervisor.zip_code }}</td>
                <td>{{ thesis.supervisor.city }}</td>
              </tr>
            {% endif %}
            {% if thesis.paper_submission_expert %}
              <tr>
                <td>
                  <a href="{% url 'tm:view-thesis' thesis.id %}">{{ thesis.attempt.student.name }}</a>
                </td>
                <td>{% translate "expert"|capfirst %}</td>
                <td>{{ thesis.expert.name }}</td>
                <td>{{ thesis.expert.address }}</td>
                <td>{{ thesis.expert.additional_address }}</td>
                <td>{{ thesis.expert.zip_code }}</td>
                <td>{{ thesis.expert.city }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'tm:mailing-excel-theses' %}"
         class="btn btn-outline-primary"><i class="fa fa-file-excel"></i> {% translate "Export mailing addresses"|capfirst %}</a>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#reportsTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
