{% extends "base.html" %}

{% load i18n %}
{% load static crispy_forms_tags %}

{% block title %}
  {% trans "overview"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>{% trans 'overview'|capfirst %} {% trans 'session' %} {{ current_session.name }}</h1>
      <form method="get" class="form-inline">
        {{ filter.form }}
        <button type="submit" class="ms-2 btn btn-sm btn-outline-secondary">{% translate "filter"|capfirst %}</button>
      </form>
      <table class="table" id="overviewTable">
        <thead>
          <tr>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'supervisor'|capfirst %}</th>
            <th>{% trans 'major'|capfirst %}</th>
            <th>{% trans 'pre-proposal'|capfirst %}</th>
            <th>{% trans 'final proposal'|capfirst %}</th>
            <th>{% trans 'thesis'|capfirst %}</th>
            <th>{% trans 'defense'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for attempt in attempts %}
            <tr>
              <td>
                <a href="{{ attempt.get_absolute_url }}">{{ attempt.student }}</a> <a href="mailto:{{ attempt.student.email }}" class="ms-2 me-2"><i class="fa fa-envelope"></i></a>
                {% if attempt.retake %}
                  <span class="ms-1 badge bg-secondary">{% translate 'retake'|upper %}</span>
                {% endif %}
              </td>
              <td>
                {% if attempt.supervisor %}
                  <div>
                    {{ attempt.supervisor }}<a href="mailto:{{ attempt.supervisor.email }}" class="ms-2 me-2"><i class="fa fa-envelope me-1"></i></a>
                  </div>
                {% else %}
                  TBA
                {% endif %}
                {% if attempt.co_supervisors %}
                  {% for co_supervisor in attempt.co_supervisors.all %}
                    <div class="d-inline-block">
                      {{ co_supervisor }}<a href="mailto:{{ co_supervisor.email }}" class="ms-2"><i class="fa fa-envelope"></i></a>
                    </div>
                    {% if not forloop.last %},{% endif %}
                  {% endfor %}
                {% endif %}
              </td>
              <td>{{ attempt.major.code }}</td>
              <td>
                {% if attempt.proposal_done %}
                  {% with proposal=attempt.accepted_proposals.last %}
                    <a href="{{ proposal.get_absolute_url }}" class="d-block">{% translate "pre-proposal"|capfirst %}</a>
                    <span class="badge {{ proposal.current_status.badge_class }}">{{ proposal.current_status.get_status_display }}</span>
                  {% endwith %}
                {% else %}
                  {% with proposal=attempt.proposals.last %}
                    {% if proposal %}
                      <a href="{{ proposal.get_absolute_url }}" class="d-block">{% translate "pre-proposal"|capfirst %}</a>
                      <span class="badge {{ proposal.current_status.badge_class }}">{{ proposal.current_status.get_status_display }}</span>
                    {% endif %}
                  {% endwith %}
                {% endif %}
              </td>
              <td>
                {% if attempt.projects.exists %}
                  {% with project=attempt.projects.last %}
                    <a href="{{ project.get_absolute_url }}" class="d-block">{% translate "final proposal"|capfirst %}</a>
                    {% if project.publish_feedbacks or perms.tm.can_view_unpublished_feedbacks %}
                      <span class="me-1 badge {{ project.badge_class }}">{{ project.display_status }}</span>
                    {% else %}
                      <span class="me-1 badge {{ project.public_badge_class }}">{{ project.display_public_status }}</span>
                    {% endif %}
                  {% endwith %}
                {% endif %}
              </td>
              <td>
                {% if attempt.theses.exists %}
                  <a href="{{ attempt.theses.last.get_absolute_url }}" class="d-block">{% translate "thesis"|capfirst %}</a>
                {% endif %}
              </td>
              <td>
                {% with defense=attempt.theses.first.defenses.last %}
                  {% if defense.result > 0 %}
                    <span class="badge {{ defense.get_result_class }}">{{ defense.get_result_display }}</span>
                  {% elif defense.defense_date %}
                    {{ defense.defense_date|date:"SHORT_DATE_FORMAT" }} @ {{ defense.defense_date|time:"H:i" }}
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary" href="mailto:{{ students_email }}"><i class="fa fa-envelope"></i> {% trans "Send an email to all students" %}</a>
      <a class="btn btn-outline-primary ms-2"
         href="mailto:{{ supervisors_email }}"><i class="fa fa-envelope"></i> {% trans "Send an email to all supervisors" %}</a>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#overviewTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
