{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "personal leave"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  <hr />
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <div class="alert-message">
          <h3>{% translate "Confirm deletion of personal leave" %}</h3>
          <dl>
            <dt>{% trans 'type'|capfirst %}</dt>
            <dd>
              <i class="fa {{ object.icon }}"></i> {{ object.get_type_of_leave_display }}
            </dd>
            <dt>{% trans 'dates'|capfirst %}</dt>
            <dd>
              {{ object.first_day_leave|date:"SHORT_DATE_FORMAT" }} - {{ object.last_day_leave|date:"SHORT_DATE_FORMAT" }}
            </dd>
            <dt>{% trans 'duration'|capfirst %}</dt>
            <dd>
              {{ object.duration_days }} {% translate 'days' %}
            </dd>
            <dt>{% trans 'basis'|capfirst %}</dt>
            <dd>
              {{ object.basis }}
            </dd>
            <dt>{% trans 'editor'|capfirst %}</dt>
            <dd>
              {{ object.editor }} ({{ object.creation_date|date:"SHORT_DATE_FORMAT" }})
            </dd>
          </dl>
          <p>
            {% translate "After deletion, a confirmation email is sent to all stakeholders with a new calendar for completion." %}
          </p>
          <form method="post">
            {% csrf_token %}
            <p class="form-buttons">
              <a href="{% url 'tm:leaves' %}" class="btn btn-outline-secondary">{% translate "Cancel" %}</a>
              <input type="submit"
                     class="btn btn-danger"
                     value="{% translate "Delete this personal leave" %}" />
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
