{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "leaves"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <table class="table" id="leavesTable">
        <thead>
          <tr>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'major'|capfirst %}</th>
            <th>{% trans 'dates'|capfirst %}</th>
            <th>{% trans 'duration'|capfirst %}</th>
            <th>{% trans 'type'|capfirst %}</th>
            <th>{% trans 'basis'|capfirst %}</th>
            <th>{% trans 'editor'|capfirst %}</th>
            {% if perms.tm.change_personalleave %}<th></th>{% endif %}
          </tr>
        </thead>
        <tbody>
          {% for leave in object_list %}
            <tr>
              <td>
                <a href="{{ leave.attempt.get_absolute_url }}">{{ leave.attempt.student }}</a>
                {% if leave.attempt.retake %}
                  <span class="ms-1 badge bg-secondary">{% translate 'retake'|upper %}</span>
                {% endif %}
              </td>
              <td>{{ leave.attempt.major.code }}</td>
              <td>{{ leave.first_day_leave|date:"SHORT_DATE_FORMAT" }} - {{ leave.last_day_leave|date:"SHORT_DATE_FORMAT" }}</td>
              <td>{{ leave.duration_days }} {% translate 'days' %}</td>
              <td>
                <i class="fa {{ leave.icon }}"></i> {{ leave.get_type_of_leave_display }}
              </td>
              <td>{{ leave.basis }}</td>
              <td>{{ leave.editor }} ({{ leave.creation_date|date:"SHORT_DATE_FORMAT" }})</td>
              {% if perms.tm.change_personalleave %}
                <td>
                  <a href="{% url 'tm:change-leave' leave.id %}"
                     class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
