{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "personal leave"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  <hr />
  <div class="row mb-4">
    <div class="col-md-12">{% crispy form %}</div>
  </div>
  {% if object and perms.tm.delete_personalleave %}
    <div class="alert alert-danger" role="alert">
      <div class="alert-message">
        <h5>{% translate "Delete personal leave" %}</h5>
        <p>
          {% translate "In the event of an error, you can correct the dates on the certificate and the calendar will be recalculated. If you need to delete a certificate, a new calendar will be recalculated and the people concerned will be informed by e-mail." %}
        </p>
        <a href="{% url 'tm:delete-leave' object.id %}" class="btn btn-danger">{% translate "Delete this personal leave" %}</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
  <script data-first_day_leave="{{ object.first_day_leave|date:'Y-m-d' }}" data-last_day_leave="{{ object.last_day_leave|date:'Y-m-d' }}">
    const data = document.currentScript.dataset;
    const firstDayLeave = data.first_day_leave;
    const lastDayLeave = data.last_day_leave;

    document.addEventListener("DOMContentLoaded", function() {

      // Date picker
      flatpickr("#id_first_day_leave", {
        dateFormat: "Y-m-d",
        defaultDate: firstDayLeave,
        onChange: function(selectedDates, dateStr, instance) {
          endDate.set("minDate", dateStr);
        },
      });

      const endDate = flatpickr("#id_last_day_leave", {
        dateFormat: "Y-m-d",
        defaultDate: lastDayLeave,
      });
    });
  </script>
{% endblock inline_javascript %}
