{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "progress report"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  <div class="row mt-2 mb-2">
    <div class="col-md-12">
      <h3>
        {{ object.master_thesis.title }}
        {% if object.master_thesis.confidential %}
          <span class="ms-1 badge bg-secondary">{% translate 'confidential'|upper %}</span>
        {% endif %}
      </h3>
    </div>
  </div>
  {% if object.abstract %}
    <div class="row mt-2">
      <div class="col-12">{{ object.abstract.html|safe }}</div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="mb-4">
            {% translate 'progress report'|capfirst %} - {{ object.get_role_display }}
            {% if object.validated %}
              <span class="badge bg-success ms-2">{% trans 'accepted' %}</span>
            {% elif object.submitted %}
              <span class="badge bg-secondary ms-2">{% trans 'under review' %}</span>
            {% elif not object.submitted %}
              <span class="badge bg-primary ms-2">{% translate 'draft'|upper %}</span>
            {% endif %}
          </h2>
          <h4 class="mt-4">{% translate 'global assessment'|capfirst %}</h4>
          <p>
            <strong>{{ object.get_global_assessment_display }}</strong>
          </p>
          <h4 class="mt-4">{% translate 'progress report'|capfirst %}</h4>
          {{ object.progress_report.html|safe }}
          <h4 class="mt-4">{% translate 'problems encountered'|capfirst %}</h4>
          {{ object.problems_encountered.html|safe }}
          <h4 class="mt-4">{% translate 'ability to achieve the objectives'|capfirst %}</h4>
          {{ object.ability_to_achieve.html|safe }}
          <h4 class="mt-4">{% translate 'comments for the mh'|capfirst %}</h4>
          {{ object.comments_for_mh.html|safe }}
          <p class="mt-4">
            <strong>{% translate 'submission'|capfirst %}:</strong>
            {{ object.user.name }}
            {% if object.submitted %}
              , <span class="text-success">{{ object.submission_date|date:"SHORT_DATE_FORMAT" }}</span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
  {% if not object.submitted %}
    <div class="row">
      <div class="col-12">
        <div class="alert-primary" role="alert">
          <div class="alert-message">
            {% blocktranslate with date=attempt.current_calendar.report_end|date:"SHORT_DATE_FORMAT" %}
            <p>This report has not yet been submitted. Please submit it by <strong>{{ date }}</strong>. Once submitted, you will not be able to edit it.</p>
          {% endblocktranslate %}
            <button type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#submit-report">{% trans 'submit the report'|capfirst %}</button>
            <a href="{% url 'tm:change-progress-report' object.id %}"
               class="btn btn-outline-primary">{% translate 'edit'|capfirst %}</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
{% block modal %}
  {% if not object.submitted %}
    <div class="modal fade"
         id="submit-report"
         tabindex="-1"
         aria-labelledby="submit-report-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{% url 'tm:submit-progress-report' object.id %}"
                method="post">
            {% csrf_token %}
            <div class="modal-header bg-success">
              <h5 class="modal-title text-white" id="submit-report-label">{% trans 'Submit your progress report' %}</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                {% translate 'Once submitted, we will review both progress reports. If the information provided in the report by one or both parties reveals risks concerning the completion of the thesis, we will contact the persons concerned directly to find appropriate solutions.' %}
              </p>
            </div>
            {{ submit_form }}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'close'|capfirst %}</button>
              <button type="submit" class="btn btn-success">{% trans 'submit'|capfirst %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock modal %}
