{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "progress reports"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <table class="table" id="reportsTable">
        <thead>
          <tr>
            <th>{% trans 'title'|capfirst %}</th>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'major'|capfirst %}</th>
            <th>{% trans 'supervisor'|capfirst %}</th>
            <th>{% translate 'deadline'|capfirst %}</th>
            {% if perms.tm.can_view_all_progressreports or request.user.is_mh %}
              <th>{% trans "student's report"|capfirst %}</th>
            {% endif %}
            <th>{% trans "supervisor's report"|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for thesis in object_list %}
            <tr>
              <td>
                {% if perms.tm.can_view_all_progressreports or request.user.is_mh %}
                  <a href="{% url 'tm:check-progress-report' thesis.attempt.id %}"
                     class="d-block">{{ thesis.title }}</a>
                  {% if thesis.supervisor_report.to_validate or thesis.student_report.to_validate %}
                    <span class="badge bg-primary">{% translate 'new' %}</span>
                  {% endif %}
                {% else %}
                  {% if thesis.supervisor_report %}
                    <a href="{{ thesis.supervisor_report.get_absolute_url }}">{{ thesis.title }}</a>
                    {% if not thesis.supervisor_report.submitted %}
                      <span class="badge bg-secondary">{% translate 'draft' %}</span>
                    {% endif %}
                  {% else %}
                    {{ thesis.title }}
                  {% endif %}
                {% endif %}
              </td>
              <td class="text-nowrap">
                {{ thesis.attempt.student }}
                {% if thesis.attempt.retake %}
                  <span class="ms-1 badge bg-secondary">{% translate 'retake'|upper %}</span>
                {% endif %}
              </td>
              <td>{{ thesis.attempt.major.code }}</td>
              <td class="text-nowrap">
                {% if thesis.supervisor %}
                  {{ thesis.supervisor }}
                {% else %}
                  TBA
                {% endif %}
                {% if thesis.co_supervisors.count > 0 %}& {{ thesis.co_supervisors.all|join:", " }}{% endif %}
              </td>
              <td>
                <span {% if thesis.attempt.current_calendar.report_due %} {% if thesis.reports_validated %}class="text-success"{% else %}class="text-danger"{% endif %}
                      {% endif %}>{{ thesis.attempt.current_calendar.report_end|date:"SHORT_DATE_FORMAT" }}</span>
              </td>
              {% if perms.tm.can_view_all_progressreports or request.user.is_mh %}
                <td>
                  {% if not thesis.student_report %}
                    <span class="badge bg-warning-dark">{% translate 'missing' %}</span>
                  {% elif not thesis.student_report.submitted %}
                    <span class="badge {% if thesis.reports_agreement %}bg-dark{% else %}bg-danger{% endif %} rounded-pill">{{ thesis.student_report.global_assessment }}</span>
                    <span class="badge bg-secondary">{% translate 'draft' %}</span>
                  {% else %}
                    <span class="badge {% if thesis.reports_agreement %}bg-dark{% else %}bg-danger{% endif %} rounded-pill">{{ thesis.student_report.global_assessment }}</span>
                    <span class="badge bg-success">{% translate 'submitted' %}</span>
                  {% endif %}
                </td>
              {% endif %}
              <td>
                {% if not thesis.supervisor_report %}
                  {% if request.user == thesis.supervisor %}
                    <a href="{% url 'tm:add-progress-report' thesis.attempt.id %}"
                       class="ms-1 btn btn-sm btn-primary">{% translate 'create'|capfirst %}</a>
                  {% else %}
                    <span class="badge bg-warning-dark">{% translate 'missing' %}</span>
                  {% endif %}
                {% elif not thesis.supervisor_report.submitted %}
                  <span class="badge {% if thesis.reports_agreement %}bg-dark{% else %}bg-danger{% endif %} rounded-pill">{{ thesis.supervisor_report.global_assessment }}</span>
                  {% if request.user == thesis.supervisor %}
                    <a href="{% url 'tm:view-progress-report' thesis.supervisor_report.id %}"
                       class="ms-1 btn btn-sm btn-primary">{% translate 'submit'|capfirst %}</a>
                  {% else %}
                    <span class="badge bg-secondary">{% translate 'draft' %}</span>
                  {% endif %}
                {% else %}
                  <span class="badge {% if thesis.reports_agreement %}bg-dark{% else %}bg-danger{% endif %} rounded-pill">{{ thesis.supervisor_report.global_assessment }}</span>
                  <span class="badge bg-success">{% translate 'submitted' %}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if request.user.is_mh %}
        <a href="{% url 'tm:reminder-all-progress-reports' %}"
           class="btn btn-outline-primary">{% translate "send all reminders"|capfirst %}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#reportsTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
