{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "progress report"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  <div class="row mt-2">
    <div class="col-md-12">
      <h3>
        {{ thesis.title }}
        {% if thesis.confidential %}
          <span class="ms-1 badge bg-secondary">{% translate 'confidential'|upper %}</span>
        {% endif %}
      </h3>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">{{ report_student.abstract.html|safe }}</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="mb-4">
        {% translate "student's report"|capfirst %}
        {% if report_student and not report_student.submitted %}
          <span class="badge bg-primary ms-2">{% translate 'draft'|upper %}</span>
        {% elif report_student.forced_submission %}
          <span class="badge bg-warning ms-2">{% translate 'submission overridden'|upper %}</span>
        {% endif %}
      </h3>
      {% if report_student %}
        <h4>{% translate 'global assessment'|capfirst %}</h4>
        <p {% if disagreement %}class="text-danger"{% endif %}>
          <strong>{{ report_student.get_global_assessment_display }}</strong>
        </p>
        <h4>{% translate 'progress report'|capfirst %}</h4>
        {{ report_student.progress_report.html|safe }}
        <h4>{% translate 'problems encountered'|capfirst %}</h4>
        {{ report_student.problems_encountered.html|safe }}
        <h4>{% translate 'ability to achieve the objectives'|capfirst %}</h4>
        {{ report_student.ability_to_achieve.html|safe }}
        <h4>{% translate 'comments for the mh'|capfirst %}</h4>
        {{ report_student.comments_for_mh.html|safe }}
        {% if report_student.forced_submission %}
          <p class="mt-3">
            <span class="text-warning"><strong>{% translate 'submission overridden'|capfirst %}</strong></span>: {{ report_student.forced_submission_user.name }}, {{ report_student.submission_date|date:"SHORT_DATE_FORMAT" }}
          </p>
        {% else %}
          <p class="mt-3">
            <strong>{% translate 'submitted'|capfirst %}</strong>: {{ report_student.user.name }}, {{ report_student.submission_date|date:"SHORT_DATE_FORMAT" }}
          </p>
        {% endif %}
        {% if thesis.attempt.current_calendar.report_due and not report_student.submitted %}
          <a href="{% url 'tm:force-submission-progress-report' report_student.id %}"
             class="btn btn-outline-warning">{% translate "force submission"|capfirst %}</a>
        {% endif %}
      {% else %}
        <p class="text-info">{% translate "no report submitted"|capfirst %}</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h3 class="mb-4">
        {% translate "supervisor's report"|capfirst %}
        {% if report_supervisor and not report_supervisor.submitted %}
          <span class="badge bg-primary ms-2">{% translate 'draft'|upper %}</span>
        {% elif report_supervisor.forced_submission %}
          <span class="badge bg-warning ms-2">{% translate 'submission overridden'|upper %}</span>
        {% endif %}
      </h3>
      {% if report_supervisor %}
        <h4>{% translate 'global assessment'|capfirst %}</h4>
        <p {% if disagreement %}class="text-danger"{% endif %}>
          <strong>{{ report_supervisor.get_global_assessment_display }}</strong>
        </p>
        <h4>{% translate 'progress report'|capfirst %}</h4>
        {{ report_supervisor.progress_report.html|safe }}
        <h4>{% translate 'problems encountered'|capfirst %}</h4>
        {{ report_supervisor.problems_encountered.html|safe }}
        <h4>{% translate 'ability to achieve the objectives'|capfirst %}</h4>
        {{ report_supervisor.ability_to_achieve.html|safe }}
        <h4>{% translate 'comments for the mh'|capfirst %}</h4>
        {{ report_supervisor.comments_for_mh.html|safe }}
        {% if report_supervisor.forced_submission %}
          <p class="mt-3">
            <span class="text-warning"><strong>{% translate 'submission overridden'|capfirst %}</strong></span>: {{ report_supervisor.forced_submission_user.name }}, {{ report_supervisor.submission_date|date:"SHORT_DATE_FORMAT" }}
          </p>
        {% else %}
          <p class="mt-3">
            <strong>{% translate 'submitted'|capfirst %}</strong>: {{ report_supervisor.user.name }}, {{ report_supervisor.submission_date|date:"SHORT_DATE_FORMAT" }}
          </p>
        {% endif %}
        {% if thesis.attempt.current_calendar.report_due and not report_supervisor.submitted %}
          <a href="{% url 'tm:force-submission-progress-report' report_supervisor.id %}"
             class="btn btn-outline-warning">{% translate "force submission"|capfirst %}</a>
        {% endif %}
      {% else %}
        <p class="text-info">{% translate "no report submitted"|capfirst %}</p>
      {% endif %}
    </div>
  </div>
  {% if request.user.is_mh %}
    {% if not report_student.validated or not report_supervisor.validated %}
      <div class="row mt-2">
        <div class="col-12">
          {% if report_student.submitted and report_supervisor.submitted %}
            <a href="{% url 'tm:validate-progress-report' attempt.id %}"
               class="btn btn-primary">{% translate "validate the reports"|capfirst %}</a>
          {% else %}
            <a href="{% url 'tm:reminder-progress-report' attempt.id %}"
               class="btn btn-outline-secondary">{% translate "send reminder"|capfirst %}</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
