{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "progress report"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  <div class="row mt-2">
    <div class="col-md-12">
      <h3>
        {{ thesis.title }}
        {% if thesis.confidential %}
          <span class="ms-1 badge bg-secondary">{% translate 'confidential'|upper %}</span>
        {% endif %}
      </h3>
    </div>
  </div>
  {% with action=view.action|default:"Add" %}
    <div class="row mb-4">
      <div class="col-md-12">{% crispy form %}</div>
    </div>
  {% endwith %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
