{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "final proposals"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h2>{% trans "final proposals"|capfirst %}</h2>
      <table class="table" id="proposalsTable">
        <thead>
          <tr>
            <th>{% trans 'title'|capfirst %}</th>
            <th>{% trans 'revision'|capfirst %}</th>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'major'|capfirst %}</th>
            <th>{% trans 'supervisor'|capfirst %}</th>
            <th>{% trans 'content'|capfirst %}</th>
            <th>{% trans 'methodology'|capfirst %}</th>
            <th>{% trans 'accepted'|capfirst %}</th>
            <th>{% trans 'feedback'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for project in object_list %}
            <tr>
              <td>
                <a href="{{ project.get_absolute_url }}" class="d-block">{{ project.title }}</a>
                {% if project.submitted %}
                  <span class="badge bg-primary ms-2 float-end">{% trans 'submitted' %}</span>
                {% else %}
                  <span class="badge bg-secondary ms-2 float-end">{% trans 'draft' %}</span>
                {% endif %}
              </td>
              <td>{{ project.revision }}</td>
              <td class="text-nowrap">
                {{ project.attempt.student }}
                {% if project.attempt.retake %}
                  <span class="ms-1 badge bg-secondary">{% translate 'retake'|upper %}</span>
                {% endif %}
              </td>
              <td>{{ project.attempt.major.code }}</td>
              <td>
                {% if project.supervisor %}
                  <span class="text-nowrap">{{ project.supervisor }}</span>
                {% else %}
                  TBA
                {% endif %}
                {% if project.co_supervisors.count > 0 %}& {{ project.co_supervisors.all|join:", " }}{% endif %}
              </td>
              <td>
                {% if privileged or not privileged and project.publish_feedbacks %}
                  <span class="me-1 badge {{ project.badge_content_status }}">{{ project.display_content_status }}</span>
                {% else %}
                  <span class="me-1 badge bg-dark">{% trans 'under review' %}</span>
                {% endif %}
              </td>
              <td>
                {% if privileged or not privileged and project.publish_feedbacks %}
                  <span class="me-1 badge {{ project.badge_methodology_status }}">{{ project.display_methodology_status }}</span>
                  {% if privileged and project.grade_methodology %}<strong>{{ project.grade_methodology }}</strong>{% endif %}
                {% else %}
                  <span class="me-1 badge bg-dark">{% trans 'under review' %}</span>
                {% endif %}
              </td>
              <td>
                {% if not privileged %}
                  <span class="me-1 badge {{ project.public_badge_class }}">{{ project.display_public_status }}</span>
                {% else %}
                  <span class="me-1 badge {{ project.badge_class }}">{{ project.display_status }}</span>
                {% endif %}
              </td>
              <td>
                {% if privileged %}
                  {% if project.publish_feedbacks %}
                    <i class="text-success fa fa-eye"></i>
                  {% else %}
                    <i class="text-danger fa fa-eye-slash"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary" href="{% url 'tm:download-dispositions' %}"><i class="fa fa-archive"></i> {% trans "Download all proposals" %}</a>
      {% if tm.can_view_all_proposals or perms.tm.can_grade_projects %}
        <a class="btn btn-primary"
           href="{% url 'tm:excel-export-dispositions' %}"><i class="fa fa-file-excel"></i> {% trans "Export evaluations" %}</a>
      {% endif %}
      {% if request.user.is_mh %}
        <a class="btn btn-warning"
           href="{% url 'tm:publish-evaluations-dispositions' %}"><i class="fa fa-eye"></i> {% trans "Publish all feedbacks" %}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#proposalsTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
