{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "Final Proposal"|capfirst %}
{% endblock %}
{% block content %}
  {% if perms.tm.can_grade_projects %}
    <div class="row mb-4">
      <div class="col-md-12">
        <h1>
          {{ object.title }}
          {% if object.publish_feedbacks or perms.tm.can_view_unpublished_feedbacks %}
            <span class="ms-1 badge {{ project.badge_class }}">{{ project.display_status }}</span>
          {% endif %}
        </h1>
        <p>
          <i>{{ object.attempt.student }}</i>
        </p>
        <p>
          <strong>{% trans 'supervisor'|capfirst %}</strong>:
          {% if object.supervisor %}
            {{ object.supervisor }}
          {% else %}
            {% trans 'To be defined' %}
          {% endif %}
        </p>
        <p>
          <strong>{% trans 'proposal file'|capfirst %}</strong>:
          {% if object.pdf_file %}
            <a href="{{ object.pdf_file.url }}" target="_blank">{{ object.pdf_file }}</a>
          {% else %}
            {% trans 'No file submitted' %}
          {% endif %}
        </p>
        {% if object.comments.html != '' %}
          <p>
            <strong>{% trans 'comments'|capfirst %}</strong>
          </p>
          <p>{{ object.comments.html | safe }}</p>
        {% endif %}
        <p>
          <strong>{% trans 'submission date'|capfirst %}</strong>:
          {% if object.submission_date %}
            {{ object.submission_date|date:"SHORT_DATE_FORMAT" }}
          {% else %}
            {% trans 'Not yet submitted' %}
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
  {% with action=view.action|default:"Add" %}
    <div class="row mb-4">
      <div class="col-md-12">{% crispy form %}</div>
    </div>
  {% endwith %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
