{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "Final Proposal"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>
        {{ object.title }}
        {% if object.confidential %}
          <i class="fa fa-user-secret text-warning"
             data-bs-container="body"
             data-bs-toggle="popover"
             data-bs-placement="top"
             data-bs-content="{% trans 'confidential'|capfirst %}"></i>
        {% endif %}
        {% if object.publish_feedbacks or perms.tm.can_view_unpublished_feedbacks %}
          <span class="me-1 badge {{ project.badge_class }}">{{ project.display_status }}</span>
        {% else %}
          <span class="me-1 badge {{ project.public_badge_class }}">{{ project.display_public_status }}</span>
        {% endif %}
      </h1>
      <p>
        <i>{{ object.attempt.student }}</i>
        {% if object.attempt.retake %}
          <span class="ms-1 badge bg-secondary">{% translate 'retake'|upper %}</span>
        {% endif %}
      </p>
      <p>
        <strong>{% trans 'supervisor'|capfirst %}</strong>:
        {% if object.supervisor %}
          {{ object.supervisor }}
        {% else %}
          {% trans 'To be defined' %}
        {% endif %}
      </p>
      <p>
        <strong>{% trans 'co-supervisor(s)'|capfirst %}</strong>:
        {% if object.co_supervisors.count > 0 %}
          {{ object.co_supervisors.all|join:", " }}
        {% else %}
          {% trans 'None' %}
        {% endif %}
        {% if can_add_supervisor %}
          <button type="button"
                  class="btn btn-sm btn-outline-primary ms-3"
                  data-bs-toggle="modal"
                  data-bs-target="#add-co-supervisor">{% trans 'add co-supervisor(s)'|capfirst %}</button>
        {% endif %}
      </p>
      <p>
        <strong>{% trans 'final proposal file'|capfirst %}</strong>:
        {% if object.pdf_file %}
          <a href="{{ object.pdf_file.url }}" target="_blank">{{ object.pdf_file }}</a>
        {% else %}
          {% trans 'No file submitted' %}
        {% endif %}
      </p>
      {% if object.comments.html != '' %}
        <p>
          <strong>{% trans 'comments'|capfirst %}</strong>
        </p>
        <p>{{ object.comments.html | safe }}</p>
      {% endif %}
      <p>
        <strong>{% trans 'submission date'|capfirst %}</strong>:
        {% if object.submission_date %}
          {{ object.submission_date|date:"SHORT_DATE_FORMAT" }}
        {% else %}
          {% trans 'Not yet submitted' %}
        {% endif %}
      </p>
      <hr />
      {% if request.user == object.attempt.student %}
        {% if not object.submitted %}
          <a href="{% url 'tm:change-disposition' object.id %}"
             class="btn btn-outline-primary">{% trans 'edit'|capfirst %}</a>
          {% if object.pdf_file %}
            <button type="button"
                    class="btn btn-outline-success"
                    data-bs-toggle="modal"
                    data-bs-target="#submit-project">{% trans 'submit'|capfirst %}</button>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% if object.publish_feedbacks or perms.tm.can_view_unpublished_feedbacks or perms.tm.can_grade_projects %}
    <div class="row mb-4 bg-primary-light">
      <div class="col-md-12 ">
        <h2 class="mt-3">
          {% trans 'review'|capfirst %}
          {% if perms.tm.can_view_unpublished_feedbacks or perms.tm.can_grade_projects %}
            {% if project.publish_feedbacks %}
              <i class="text-success fa fa-eye"
                 data-bs-container="body"
                 data-bs-toggle="popover"
                 data-bs-placement="top"
                 data-bs-content="{% trans 'feedback published'|capfirst %}"></i>
            {% else %}
              <i class="text-danger fa fa-eye-slash"
                 data-bs-container="body"
                 data-bs-toggle="popover"
                 data-bs-placement="top"
                 data-bs-content="{% trans 'feedback not yet published'|capfirst %}"></i>
            {% endif %}
          {% endif %}
          {% if request.user.is_mh %}
            <a href="{% url 'tm:publish-evaluation-disposition' object.id %}"
               class="btn btn-sm btn-outline-danger">{% trans 'publish feedback'|capfirst %}</a>
          {% endif %}
        </h2>
        <h4 class="mt-4">
          {% trans 'Adequacy with the objectives of the master thesis' %}
          <span class="ms-1 badge {{ project.badge_content_status }}">{{ project.display_content_status }}</span>
        </h4>
        {% if object.reviewer_content %}
          <p>
            <u>{% trans "reviewer"|capfirst %}</u>: <strong><a href="mailto:{{ object.reviewer_content.mail }}">{{ object.reviewer_content.name }}</a></strong>
          </p>
        {% endif %}
        <p>{{ object.feedback_content.html | safe }}</p>
        {% if object.pass_content == False %}
          {% blocktrans with email=object.reviewer_content.email name=object.reviewer_content.name date=object.attempt.current_calendar.project_rework_end|date:"SHORT_DATE_FORMAT" %}
              <p class="text-danger">The proposal does not meet the expectations for a master thesis. We ask you
                to revise and submit a new version of the proposal taking into account the above remarks until <strong>{{ date }}</strong>. For more information,
                please contact <a href="mailto:{{ email }}">{{ name }}</a>.</p>
              {% endblocktrans %}
        {% endif %}
        {% if perms.tm.can_grade_projects %}
          <a href="{% url 'tm:evaluate-disposition' object.id %}"
             class="btn btn-primary">{% trans "Grade the project" %}</a>
        {% endif %}
        <h4 class="mt-4">
          {% trans 'Assessment of the methodology' %}
          <span class="ms-1 badge {{ project.badge_methodology_status }}">{{ project.display_methodology_status }}</span>
        </h4>
        {% if object.reviewer_methodology %}
          <p>
            {% if object.grade_methodology %}
              {% if perms.tm.can_view_unpublished_feedbacks or perms.tm.can_grade_projects %}
                <u>{% trans "grade"|capfirst %}</u>: <strong>{{ object.grade_methodology }}</strong>
                <br />
              {% endif %}
            {% endif %}
            <u>{% trans "reviewer"|capfirst %}</u>: <strong><a href="mailto:{{ object.reviewer_methodology.email }}">{{ object.reviewer_methodology.name }}</a></strong>
          </p>
        {% endif %}
        <p>{{ object.feedback_methodology.html | safe }}</p>
        {% if object.pass_methodology == False %}
          {% if object.methodology_status == 'rework' %}
            {% blocktrans with email=object.reviewer_methodology.email name=object.reviewer_methodology.name date=object.attempt.current_calendar.project_rework_end|date:"SHORT_DATE_FORMAT" %}
                <p class="text-danger">The methodology of the project did not meet the minimum passing grade. You have
                  one last attempt to submit a revised version of the methodology taking into account the above remarks
                  until <strong>{{ date }}</strong>. If the methodology should not meet the minimum passing grade again,
                  this will lead to a repeat of the Master's thesis. For more information, please contact
                  <a href="mailto:{{ email }}">{{ name }}</a>.</p>
            {% endblocktrans %}
          {% else %}
            {% blocktrans with email=object.reviewer_methodology.email name=object.reviewer_methodology.name %}
                <p class="text-danger">The methodology of the project did not meet the minimum criteria for a
                  master's thesis and received a failing grade. It deviates significantly from the best practices taught
                  in the relevant courses. This is tantamount to failing the Research Methodology module and leading to
                  a repeat of the Master's thesis. For more information, please contact <a href="mailto:{{ email }}">{{ name }}</a>.</p>
            {% endblocktrans %}
          {% endif %}
        {% endif %}
        {% if perms.tm.can_grade_projects %}
          <a href="{% url 'tm:evaluate-methodology-disposition' object.id %}"
             class="btn btn-primary mb-3">{% trans "Grade the methodology" %}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>{% trans 'revision'|capfirst %}</th>
              <th>{% trans 'file'|capfirst %}</th>
              <th>{% trans 'content assessment'|capfirst %}</th>
              <th>{% trans 'methodology assessment'|capfirst %}</th>
              <th>{% trans 'global assessment'|capfirst %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for project in revision_history.all %}
              <tr>
                <td>
                  <a href="{% url 'tm:disposition' project.id %}">{{ project.revision }}</a>
                  {% if project.submitted %}
                    <span class="badge bg-primary ms-2">{% trans 'submitted' %}</span>
                  {% else %}
                    <span class="badge bg-secondary ms-2">{% trans 'draft' %}</span>
                  {% endif %}
                </td>
                <td>
                  {% if project.pdf_file %}
                    <a href="{{ project.pdf_file.url }}" target="_blank">{{ project.pdf_file }}</a>
                  {% else %}
                    {% trans 'No file submitted' %}
                  {% endif %}
                </td>
                {% if project.publish_feedbacks or perms.tm.can_view_unpublished_feedbacks %}
                  <td>
                    <span class="me-1 badge {{ project.badge_content_status }}">{{ project.display_content_status }}</span>
                    {% if project.reviewer_content %}{{ project.reviewer_content }}{% endif %}
                  </td>
                  <td>
                    <span class="me-1 badge {{ project.badge_methodology_status }}">{{ project.display_methodology_status }}</span>
                    {% if project.reviewer_methodology %}{{ project.reviewer_methodology }}{% endif %}
                  </td>
                  <td>
                    <span class="badge {{ project.badge_class }}">{{ project.display_status }}</span>
                  </td>
                  <td>
                    {% if project.publish_feedbacks %}
                      <i class="text-success fa fa-eye"></i>
                    {% else %}
                      <i class="text-danger fa fa-eye-slash"></i>
                    {% endif %}
                  </td>
                {% else %}
                  <td colspan="4">{% trans 'Evaluations not yet published' %}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% if can_add_supervisor %}
    <script type="text/javascript">
      let windowObjectReference = null; // global variable
      function openLinkAccountPopup(url) {
        if (windowObjectReference == null || windowObjectReference.closed) {
          windowObjectReference = window.open(url, "LinkAccount", "width=600,height=400");
        } else {
          windowObjectReference.focus();
        }
      }
    </script>
  {% endif %}
{% endblock %}
{% block modal %}
  {% if submission_form %}
    <div class="modal fade"
         id="submit-project"
         tabindex="-1"
         aria-labelledby="submit-project-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{% url 'tm:submit-disposition' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-header bg-success">
              <h5 class="modal-title text-white" id="submit-project-label">{% trans 'Submit disposition' %}</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                {% blocktrans with date=project.attempt.current_calendar.project_end %}When you are satisfied with your final proposal, you can submit it for review. The deadline for submitting your proposal is <strong>{{ date }}</strong>.<br />
                 You will be notified when the reviews are available.{% endblocktrans %}
              </p>
              <div class="mb-3">
                {{ submission_form.media }}
                {{ submission_form|crispy }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">{% trans 'submit'|capfirst %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  {% if co_supervisor_form %}
    <style>
      .select2-container {
        z-index: 1056 !important;
      }
    </style>
    <div class="modal fade"
         id="add-co-supervisor"
         tabindex="-1"
         aria-labelledby="add-co-supervisor-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{% url 'tm:add-co-supervisor-disposition' object.id %}"
                method="post">
            {% csrf_token %}
            <div class="modal-header bg-success">
              <h5 class="modal-title text-white" id="add-co-supervisor-label">{% trans 'Add co-supervisor' %}</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                {% translate "You can add one or more co-supervisors for the master's thesis. Co-supervisors have read-only access to the platform." %}
              </p>
              <div class="mb-3">
                {{ co_supervisor_form.media }}
                {{ co_supervisor_form|crispy }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">{% trans 'submit'|capfirst %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock modal %}
