{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "pre-proposal"|capfirst %}
{% endblock %}
{% block content %}
  {% with action=view.action|default:"Add" %}
    <div class="row mb-4">
      <div class="col-md-12">{% crispy form %}</div>
    </div>
  {% endwith %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
