{% load static i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="Online platform for the management and supervision of {{ settings.APP_SHORT_TITLE }} HES-SO master's theses" />
    <meta name="author" content="Cedric Gaspoz" />
    <meta name="keywords"
          content="{{ settings.APP_SHORT_TITLE }} Master's Theses TM" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon"
          href="{% static 'images/favicons/icon-48x48.png' %}" />
    <title>
      {% block title %}
        {{ settings.APP_SHORT_TITLE }} TM Manager
      {% endblock title %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
          rel="stylesheet" />
    <link href="{% static 'css/light.css' %}" rel="stylesheet" />
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {{ form.media }}
  </head>
  <!--
  HOW TO USE:
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->
  <body data-theme="default"
        data-layout="fluid"
        data-sidebar-position="left"
        data-sidebar-layout="default">
    <div class="wrapper">
      <div class="main">
        <main class="content">
          <div class="container-fluid p-0">
            <form method="post">
              {% csrf_token %}
              <div class="modal-body">
                <div class="mb-3">{{ form|crispy }}</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="window.close()">Close</button>
                <button type="submit"
                        name="status"
                        value="comment"
                        class="btn btn-outline-info">{% trans 'comment'|capfirst %}</button>
                {% if request.user.is_mh %}
                  <button type="submit"
                          name="status"
                          value="accepted"
                          class="btn btn-outline-success">{% trans 'accept'|capfirst %}</button>
                  <button type="submit"
                          name="status"
                          value="rework"
                          class="btn btn-outline-warning">{% trans 'rework'|capfirst %}</button>
                  <button type="submit"
                          name="status"
                          value="rejected"
                          class="btn btn-outline-danger">{% trans 'reject'|capfirst %}</button>
                {% endif %}
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
