{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "pre-proposals"|capfirst %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock javascript %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h2>{% trans "pre-proposals"|capfirst %}</h2>
      <table class="table" id="proposalsTable">
        <thead>
          <tr>
            <th>{% trans 'title'|capfirst %}</th>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'major'|capfirst %}</th>
            <th>{% trans 'supervisor'|capfirst %}</th>
            <th>{% trans 'date'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for proposal in object_list %}
            <tr>
              <td>
                <a href="{{ proposal.get_absolute_url }}" class="d-block">{{ proposal.title }}</a>
                <span class="float-end badge {{ proposal.current_status.badge_class }}">{{ proposal.current_status.get_status_display }}</span>
              </td>
              <td class="text-nowrap">{{ proposal.attempt.student }}</td>
              <td>{{ proposal.attempt.major.code }}</td>
              <td class="text-nowrap">
                {% if proposal.supervisor %}
                  {{ proposal.supervisor }}
                {% else %}
                  TBA
                {% endif %}
              </td>
              <td>{{ proposal.current_status.creation_date|date:"SHORT_DATE_FORMAT" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block inline_javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable("#proposalsTable", {
      perPage: 25,
    })
  </script>
{% endblock inline_javascript %}
