{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "pre-proposal"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>
        {{ object.title }} <span class="badge {{ object.current_status.badge_class }}">{{ object.current_status.status }}</span>
      </h1>
      <p>
        <i>{{ object.attempt.student }}</i>
      </p>
      <p>
        {% if object.supervisor %}
          {% trans 'supervisor'|capfirst %}: {{ object.supervisor }}
        {% elif object.supervisors or object.external_supervisors %}
          {% trans 'prospective supervisors'|capfirst %}:
          {% if object.external_supervisors %}
            {{ object.external_supervisors }}
            {% if object.supervisors %},{% endif %}
          {% endif %}
          {% for supervisor in object.supervisors %}
            {{ supervisor }}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        {% else %}
          {% trans 'No supervisor' %}
        {% endif %}
        {% if request.user == object.attempt.student or request.user.is_mh %}
          {% if not object.supervisor %}
            <button type="button"
                    class="btn btn-outline-primary ms-1"
                    data-bs-toggle="modal"
                    data-bs-target="#supervisor-proposal">{% trans 'suggest a supervisor'|capfirst %}</button>
          {% endif %}
        {% endif %}
      </p>
      <h3>{% trans 'background'|capfirst %}</h3>
      <p>{{ object.background.html | safe }}</p>
      <h3>{% trans 'problem statement'|capfirst %}</h3>
      <p>{{ object.problem_statement.html | safe }}</p>
      <h3>{% trans 'research questions'|capfirst %}</h3>
      <p>{{ object.research_questions.html | safe }}</p>
      <h3>{% trans 'methodology'|capfirst %}</h3>
      <p>{{ object.methodology.html | safe }}</p>
      <h3>{% trans 'partner'|capfirst %}</h3>
      <p>{{ object.partner.html | safe }}</p>
      {% if request.user == object.attempt.student %}
        {% if object.current_status.status == 'draft' or object.current_status.status == 'submitted' or object.current_status.status == 'rework' %}
          <a href="{% url 'tm:change-proposal' object.id %}"
             class="btn btn-outline-primary">{% trans 'edit'|capfirst %}</a>
        {% endif %}
        {% if object.current_status.status == 'draft' %}
          <button type="button"
                  class="btn btn-outline-success"
                  data-bs-toggle="modal"
                  data-bs-target="#submit-proposal">{% trans 'submit'|capfirst %}</button>
        {% endif %}
        {% if object.current_status.status != 'withdrawn' and object.current_status.status != 'rejected' %}
          <button type="button"
                  class="btn btn-outline-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#withdraw-proposal">{% trans 'withdraw'|capfirst %}</button>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% if acceptation_form %}
    <div class="row mb-4 bg-primary-light">
      <div class="col-md-12 ">
        <form action="{% url 'tm:assignments-acceptance' assignment_id %}"
              method="post">
          {% csrf_token %}
          <h2 class="mt-3">{% trans 'acceptance of supervision'|capfirst %}</h2>
          {% blocktrans %}
              <p>After reading the pre-proposal, please indicate if you would like to supervise this work. You may also
                 leave a message for the student and/or the master theses coordinator.</p>
            {% endblocktrans %}
          {{ acceptation_form.media }}
          {{ acceptation_form|crispy }}
          <button type="submit"
                  name="accepted"
                  value="true"
                  class="btn btn-success mb-3">{% trans 'accept'|capfirst %}</button>
          <button type="submit"
                  name="accepted"
                  value="false"
                  class="btn btn-danger mb-3">{% trans 'decline'|capfirst %}</button>
        </form>
      </div>
    </div>
  {% endif %}
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for step in object.workflow.all %}
              <tr>
                <td class="align-text-top">
                  <span class="badge {{ step.badge_class }}">{{ step.get_status_display }}</span>
                </td>
                <td class="align-text-top">{{ step.user }}</td>
                <td class="align-text-top w-50">{{ step.comments.html|safe }}</td>
                <td class="align-text-top text-end">{{ step.creation_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td class="align-text-top text-end">
                  {% if step.user == request.user %}
                    <button type="button"
                            class="btn btn-outline-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm-deletion"
                            data-bs-delete_url="{% url 'tm:delete-step' step.id %}"
                            data-bs-delete_step="{{ step.get_status_display }}"
                            data-bs-delete_badge="{{ step.badge_class }}"
                            data-bs-delete_date="{{ step.creation_date|date:"SHORT_DATE_FORMAT" }}">
                      <i class="far fa-trash-can"></i>
                    </button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if request.user.is_mh or request.user.is_supervisor or request.user == object.attempt.student %}
          {% if object.current_status.status != 'withdrawn' and object.current_status.status != 'rejected' %}
            <a href="{% url 'tm:review-proposal' object.id %}"
               class="btn btn-outline-success"
               target="ReviewProposal"
               onclick="openReviewPopup(); return false;">
              {% if request.user.is_mh %}
                {% trans 'add review'|capfirst %}
              {% else %}
                {% trans 'add comment'|capfirst %}
              {% endif %}
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if request.user.is_mh %}
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>{% trans 'supervisor'|capfirst %}</th>
                <th>{% trans 'validated'|capfirst %}</th>
                <th>{% trans 'accepted'|capfirst %}</th>
                <th>{% trans 'comments'|capfirst %}</th>
              </tr>
            </thead>
            <tbody>
              {% for assignment in object.assignments.all %}
                <tr>
                  <td>
                    {% if assignment.supervisor %}
                      {{ assignment.supervisor }}
                    {% else %}
                      {{ assignment.suggestion }}
                    {% endif %}
                  </td>
                  <td>
                    {% if assignment.validated %}
                      <i class="fas fa-check text-success"></i> {{ assignment.request_date|date:"SHORT_DATE_FORMAT" }}
                    {% elif assignment.validated == False %}
                      <i class="fas fa-xmark text-danger"></i> {{ assignment.request_date|date:"SHORT_DATE_FORMAT" }}
                    {% else %}
                      {% if assignment.supervisor %}
                        <a href="{% url 'tm:assignments-decision-validated' assignment.id %}"
                           class="btn btn-outline-success btn-sm">{% trans 'accept'|capfirst %}</a>
                        <a href="{% url 'tm:assignments-decision-rejected' assignment.id %}"
                           class="btn btn-outline-danger btn-sm">{% trans 'reject'|capfirst %}</a>
                      {% elif assignment.suggestion %}
                        <a href="{% url 'tm:assignments-link-account' assignment.id %}"
                           class="btn btn-outline-primary btn-sm"
                           target="ReviewProposal"
                           onclick="openLinkAccountPopup('{% url 'tm:assignments-link-account' assignment.id %}'); return false;">{% trans 'link account'|capfirst %}</a>
                      {% endif %}
                    {% endif %}
                  </td>
                  <td>
                    {% if assignment.accepted %}
                      <i class="fas fa-check text-success"></i> {{ assignment.response_date|date:"SHORT_DATE_FORMAT" }}
                    {% elif assignment.accepted == False %}
                      <i class="fas fa-xmark text-danger"></i> {{ assignment.response_date|date:"SHORT_DATE_FORMAT" }}
                    {% elif assignment.waiting_response %}
                      <i class="fas fa-stopwatch text-primary"></i> {{ assignment.waiting_response }}
                      {% if assignment.reminders %}
                        <a href="{% url "tm:assignments-toggle-reminders" assignment.id %}"
                           class="ms-2">
                          <i class="fas fa-bell"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="{% translate "Reminders are sent every 4 days" %}"></i></a>
                      {% else %}
                        <a href="{% url "tm:assignments-toggle-reminders" assignment.id %}"
                           class="ms-2">
                          <i class="fas fa-bell-slash"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Reminders are disabled"></i></a>
                      {% endif %}
                    {% endif %}
                  </td>
                  <td>
                    {% if assignment.comments_mh %}{{ assignment.comments_mh }}{% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block modal %}
  {% if request.user == object.attempt.student %}
    <div class="modal fade"
         id="submit-proposal"
         tabindex="-1"
         aria-labelledby="submit-proposal-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{% url 'tm:submit-proposal' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-header bg-success">
              <h5 class="modal-title text-white" id="submit-proposal-label">{% trans 'Submit pre-proposal' %}</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                {% blocktrans %}When you are happy with your pre-proposal, you can submit it in order to get a review. You can do this process iteratively. You can also always withdraw your pre-proposal if needed.{% endblocktrans %}
              </p>
              <div class="mb-3">
                {{ submission_form.media }}
                {{ submission_form|crispy }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">{% trans 'submit'|capfirst %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade"
         id="withdraw-proposal"
         tabindex="-1"
         aria-labelledby="withdraw-proposal-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{% url 'tm:withdraw-proposal' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-header bg-danger">
              <h5 class="modal-title text-white" id="withdraw-proposal-label">{% trans 'Withdraw pre-proposal' %}</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                {% blocktrans %}Your are going to withdraw your pre-proposal. When done, you will not be able to edit or submit it anymore.{% endblocktrans %}
              </p>
              <div class="mb-3">
                {{ withdrawal_form.media }}
                {{ withdrawal_form|crispy }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">{% trans 'withdraw'|capfirst %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  {% if request.user == object.attempt.student or request.user.is_mh %}
    {% if not object.supervisor %}
      <div class="modal fade"
           id="supervisor-proposal"
           tabindex="-1"
           aria-labelledby="supervisor-proposal-label"
           aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form action="{% url 'tm:supervisor-suggestion-proposal' object.id %}"
                  method="post">
              {% csrf_token %}
              <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="supervisor-proposal-label">{% trans 'Propose a supervisor' %}</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  {% blocktrans %}You can choose a supervisor from the list or enter a name below. Your suggestion will be confirmed and the proposed supervisor will be able to indicate if he or she agrees to supervise your thesis.{% endblocktrans %}
                </p>
                <div class="mb-3">{{ assignment_form|crispy }}</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">{% trans 'send'|capfirst %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
  <div class="modal fade"
       id="confirm-deletion"
       tabindex="-1"
       aria-labelledby="confirm-deletion-label"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="delete-form" action="" method="post">
          {% csrf_token %}
          <div class="modal-header bg-danger">
            <h5 class="modal-title text-white" id="confirm-deletion-label">{% trans 'Delete workflow' %}</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              {% blocktrans %}Please confirm that you wish to remove the <span id="modal-delete-status" class="badge"></span> step submitted on <span id="modal-delete-date"></span> from the pre-proposal.{% endblocktrans %}
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">{% trans 'delete'|capfirst %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    const confirmDeletion = document.getElementById('confirm-deletion')
    confirmDeletion.addEventListener('show.bs.modal', function(event) {
      const button = event.relatedTarget
      const url = button.getAttribute('data-bs-delete_url')
      const stepStatus = button.getAttribute('data-bs-delete_step')
      const stepBadge = button.getAttribute('data-bs-delete_badge')
      const stepDate = button.getAttribute('data-bs-delete_date')

      let modalForm = confirmDeletion.querySelector('#delete-form')
      modalForm.action = url

      let modalStatus = confirmDeletion.querySelector('#modal-delete-status')
      modalStatus.innerHTML = stepStatus
      modalStatus.className = 'badge ' + stepBadge

      let modalDate = confirmDeletion.querySelector('#modal-delete-date')
      modalDate.innerHTML = stepDate
    })
  </script>
  {% if request.user.is_mh or request.user.is_supervisor or request.user == object.attempt.student %}
    <script type="text/javascript">
      let windowObjectReference = null; // global variable
      function openReviewPopup() {
        if (windowObjectReference == null || windowObjectReference.closed) {
          windowObjectReference = window.open("{% url 'tm:review-proposal' object.id %}", "ReviewProposal", "width=600,height=500");
        } else {
          windowObjectReference.focus();
        }
      }

      function openLinkAccountPopup(url) {
        if (windowObjectReference == null || windowObjectReference.closed) {
          windowObjectReference = window.open(url, "LinkAccount", "width=600,height=400");
        } else {
          windowObjectReference.focus();
        }
      }
    </script>
  {% endif %}
{% endblock modal %}
