{% load i18n %}
{% load static %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="description"
          content="Online platform for the management and supervision of {{ settings.APP_SHORT_TITLE }} HES-SO master's theses" />
    <meta name="author" content="Cedric Gaspoz" />
    <meta name="keywords"
          content="{{ settings.APP_SHORT_TITLE }} Master's Theses TM" />
    <title>{{ settings.APP_SHORT_TITLE }} - Pre-proposals Export</title>
  </head>
  <body>
    {% for object in object_list %}
      <h5>{{ object.attempt.major }} / {{ object.id }}{{ object.current_status.status|truncatechars:4|upper }}</h5>
      <h1>{{ object.title }}</h1>
      <h3>{% trans 'background'|capfirst %}</h3>
      <p>{{ object.background.html | safe }}</p>
      <h3>{% trans 'problem statement'|capfirst %}</h3>
      <p>{{ object.problem_statement.html | safe }}</p>
      <h3>{% trans 'research questions'|capfirst %}</h3>
      <p>{{ object.research_questions.html | safe }}</p>
      <h3>{% trans 'methodology'|capfirst %}</h3>
      <p>{{ object.methodology.html | safe }}</p>
      <hr />
    {% endfor %}
  </body>
</html>
