{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "student exception"|capfirst %}
{% endblock %}
{% block content %}
  {% include "tm/snippets/attempt_header.html" with attempt=object.attempt %}
  <hr />
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">{% translate "special situation"|capfirst %}</h5>
        </div>
        <div class="card-body">
          <p class="h4">
            <strong>{{ object.reason }}</strong>
          </p>
          <p>
            {% trans 'This situation prevents' %}
            {% if object.block_tm %}
              <strong>{% trans "the completion of the master's thesis" %}</strong>
            {% endif %}
            {% if object.block_defense %}
              {% if object.block_tm %}
                {% trans "and" %}
              {% endif %}
              <strong>{% trans "the defense of the master's thesis" %}</strong>
            {% endif %}
          </p>
          <p>
            {% trans 'Probable resolution date' %}: <strong>{{ object.probable_resolution_date|date:"SHORT_DATE_FORMAT" }}</strong>
          </p>
          <p>
            <i>{% blocktranslate with user=object.created_by date=object.creation_date %}Recorded by {{ user }} on {{ date }}.{% endblocktranslate %}</i>
          </p>
          {% if perms.tm.change_studentexception %}
            <a href="{% url 'tm:change-exception' object.id %}"
               class="btn btn-outline-primary">{% translate 'edit'|capfirst %}</a>
          {% endif %}
          {% if perms.tm.can_clear_studentsexceptions %}
            <button type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmClearing">{% translate 'clear the exception'|capfirst %}</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block modal %}
  <div class="modal fade"
       id="confirmClearing"
       data-bs-backdrop="static"
       data-bs-keyboard="false"
       tabindex="-1"
       aria-labelledby="confirmClearingLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title text-white" id="confirmClearingLabel">{% trans 'Clear the student exception' %}</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            {% translate "By resolving the student's particular situation, he/she will be able to continue with his/her Master's thesis (unless other particular situations prevent this)." %}
          </p>
          <p>{% translate "If this is the student's last special situation, he/she will be notified." %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'close'|capfirst %}</button>
          <a href="{% url 'tm:clear-exception' object.id %}"
             class="btn btn-outline-success">{% trans 'clear the exception'|capfirst %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}
