{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "students with exceptions"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <table class="table table-striped" id="exceptionsTable">
        <thead>
          <tr>
            <th>{% trans 'student'|capfirst %}</th>
            <th>{% trans 'major'|capfirst %}</th>
            <th>{% trans "reason"|capfirst %}</th>
            <th>{% trans "probable resolution date"|capfirst %}</th>
            <th>{% trans 'cleared'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for exception in object_list %}
            <tr {% if exception.cleared %}class="table-success"{% endif %}>
              <td>
                <a href="{{ exception.attempt.get_absolute_url }}">{{ exception.attempt.student }}</a>
                {% if exception.attempt.retake %}
                  <span class="ms-1 badge bg-secondary">{% translate 'retake'|upper %}</span>
                {% endif %}
              </td>
              <td>{{ exception.attempt.major.code }}</td>
              <td class="position-relative">
                <a href="{{ exception.get_absolute_url }}">{{ exception.reason }}</a>
                {% if exception.block_tm %}
                  <span class="ms-1 badge bg-danger">{% translate "master's thesis"|upper %}</span>
                {% endif %}
                {% if exception.block_defense %}
                  <span class="ms-1 badge bg-danger">{% translate "defense"|upper %}</span>
                {% endif %}
              </td>
              <td>{{ exception.probable_resolution_date }}</td>
              <td>
                {% if exception.cleared %}<i class="fa fa-check text-success"></i>{% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
