{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "student exception"|capfirst %}
{% endblock %}
{% block content %}
  {% if update == True %}
    {% include "tm/snippets/attempt_header.html" with attempt=object.attempt %}
  {% else %}
    {% include "tm/snippets/attempt_header.html" with attempt=attempt %}
  {% endif %}
  <hr />
  {% with action=view.action|default:"Add" %}
    <div class="row mb-4">
      <div class="col-md-12">
        {% if update == True %}
          <div class="alert alert-danger" role="alert">
            <div class="alert-message">
              {% trans 'Please note that this form is reserved for changes to the situation (typo, probable resolution date, ...). If the situation has been cleared, please use the corresponding link instead.' %}
            </div>
          </div>
        {% endif %}
        {% crispy form %}
      </div>
    </div>
  {% endwith %}
{% endblock %}
{% block inline_javascript %}
  {{ form.media }}
  <script>
    const probableResolutionDate = "{{ object.probable_resolution_date|date:'Y-m-d' }}"
    document.addEventListener("DOMContentLoaded", function() {
      // Date picker
      flatpickr("#id_probable_resolution_date", {
        dateFormat: "Y-m-d",
        defaultDate: probableResolutionDate,
      });
    });
  </script>
{% endblock inline_javascript %}
