/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
span.hesso-people-name {
    font-weight: bold;
}
span.hesso-people-school {
    padding-left: 5px;
}

td a[href^="mailto:"] {
  float: right;
}

.datatable-container {
  overflow: auto;
}
