<!DOCTYPE HTML>
{% comment %} djlint:off {% endcomment %}
<html>
  <head></head>
  <body>
    <div>
      <h1>User stuff</h1>
      <p>The mapped shib attributes will display here.</p>
      <ul>
        <li>username: {{ user.username }}</li>
        <li>name: {{ user.first_name }} {{ user.last_name }}</li>
        <li>email: {{ user.email }}</li>
      </ul>
    </div>
  </body>
</html>
{% comment %} djlint:on {% endcomment %}
