{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">{{ page.body|richtext }}</div>
  </div>
{% endblock %}
