{% load static i18n wagtailcore_tags crispy_forms_tags tm_extras request_tag %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="Online platform for the management and supervision of {{ settings.APP_SHORT_TITLE }} HES-SO master's theses" />
    <meta name="author" content="Cedric Gaspoz" />
    <meta name="keywords"
          content="{{ settings.APP_SHORT_TITLE }} Master's Theses TM" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon"
          type="image/x-icon"
          href="{% static 'images/favicons/favicon.ico' %}" />
    <title>{{ settings.APP_SHORT_TITLE }} |
      {% block title %}
        Master Thesis
      {% endblock title %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
          rel="stylesheet" />
    {% block css %}
      <link href="{% static 'css/light.css' %}" rel="stylesheet" />
      <link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" />
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock %}
    {% block javascript %}
      <script defer src="{% static 'js/htmx.min.js' %}"></script>
      <script defer src="{% static 'js/autocomplete.js' %}"></script>
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <!--
  HOW TO USE:
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->
  <body data-theme="default"
        data-layout="fluid"
        data-sidebar-position="left"
        data-sidebar-layout="default"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="wrapper">
      {% if not view.is_popup %}
        <nav id="sidebar" class="sidebar js-sidebar">
          <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand pt-4" href="{% url 'tm:dashboard' %}">
              <span class="sidebar-brand-text align-middle">
                <img alt="Logo HES-SO Master"
                     src="{% static 'images/logos/logo_hesso_master.svg' %}"
                     width="150" />
              </span>
            </a>
            <div class="sidebar-brand">
              <p>{{ settings.APP_SHORT_TITLE }} Master Thesis</p>
            </div>
            {% if request.user.is_authenticated %}
              <div class="sidebar-user">
                <div class="d-flex justify-content-center">
                  <div class="flex-shrink-0">
                    <img src="{{ request.user.email|gravatar }}"
                         class="avatar img-fluid rounded me-1"
                         alt="avatar" />
                  </div>
                  <div class="flex-grow-1 ps-2">
                    <a class="sidebar-user-title dropdown-toggle"
                       href="#"
                       data-bs-toggle="dropdown">{{ request.user.name }}</a>
                    <div class="dropdown-menu dropdown-menu-start">
                      <a class="dropdown-item"
                         href="{% url 'users:detail' request.user.username %}">
                        <i class="align-middle me-1" data-feather="user"></i> Profile
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Log out" %}</a>
                    </div>
                    <div class="sidebar-user-subtitle">
                      {% if request.user.is_mh %}
                        {% trans 'Module head' %}
                      {% elif request.user.is_supervisor %}
                        {% trans 'Supervisor' %}
                      {% elif request.user.is_student %}
                        {% trans 'Student' %}
                      {% elif request.user.is_expert %}
                        {% trans 'Expert' %}
                      {% else %}
                        {% trans 'Profile undefined' %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <ul class="sidebar-nav">
                <li class="sidebar-header">{% trans 'Pages' %}</li>
                <li class="sidebar-item active">
                  <a class="sidebar-link" href="{% url 'tm:dashboard' %}">
                    <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">{% trans 'Dashboard' %}</span>
                  </a>
                </li>
                {% if request.user.is_mh or request.user.is_supervisor or perms.tm.can_view_all_attempts %}
                  <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'tm:overview' %}">
                      <i class="align-middle" data-feather="compass"></i> <span class="align-middle">{% trans 'Overview' %}</span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a data-bs-target="#supervision"
                       data-bs-toggle="collapse"
                       class="sidebar-link">
                      <i class="align-middle" data-feather="clipboard"></i> <span class="align-middle">{% trans 'Supervision' %}</span>
                    </a>
                    <ul id="supervision"
                        class="sidebar-dropdown list-unstyled collapse show"
                        data-bs-parent="#sidebar">
                      <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'tm:proposals' %}">{% trans 'pre-proposals'|capfirst %}</a>
                      </li>
                      <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'tm:dispositions' %}">{% trans 'Final Proposals' %}</a>
                      </li>
                      <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'tm:progress-reports' %}">{% trans 'Progress Reports' %}</a>
                      </li>
                      <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'tm:theses' %}">{% trans 'Theses' %}</a>
                      </li>
                      <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'tm:defenses' %}">{% trans 'Defenses' %}</a>
                      </li>
                    </ul>
                  </li>
                  <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'tm:experts' %}">
                      <i class="align-middle" data-feather="award"></i> <span class="align-middle">{% trans 'List of the experts' %}</span>
                    </a>
                  </li>
                  {% if request.user.is_mh or perms.tm.can_view_all_attempts %}
                    <li class="sidebar-item">
                      <a data-bs-target="#tmadmin"
                         data-bs-toggle="collapse"
                         class="sidebar-link">
                        <i class="align-middle" data-feather="settings"></i> <span class="align-middle">{% trans 'TM Administration' %}</span>
                      </a>
                      <ul id="tmadmin"
                          class="sidebar-dropdown list-unstyled collapse show"
                          data-bs-parent="#sidebar">
                        {% if request.user.is_mh or perms.tm.can_view_all_attempts %}
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'tm:assignments' %}">{% trans 'Assignments' %}</a>
                          </li>
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'tm:mailing-theses' %}">{% trans 'Mailing addresses' %}</a>
                          </li>
                        {% endif %}
                        {% if perms.tm.view_personalleave %}
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'tm:leaves' %}">{% translate 'Leaves'|capfirst %}</a>
                          </li>
                        {% endif %}
                        {% if perms.tm.view_studentexception %}
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'tm:exceptions' %}">{% translate 'students with exceptions'|capfirst %}</a>
                          </li>
                        {% endif %}
                        {% if perms.tm.can_import_students %}
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'tm:import-students' %}">{% translate 'import students'|capfirst %}</a>
                          </li>
                        {% endif %}
                        {% if perms.tm.can_import_documents %}
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'tm:import-export' %}">{% translate 'import documents'|capfirst %}</a>
                          </li>
                        {% endif %}
                        {% if request.user.is_mh %}
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'tm:groups' %}">{% translate 'groups'|capfirst %}</a>
                          </li>
                        {% endif %}
                        {% if perms.users.add_user %}
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'tm:create-user-hes-so' %}">{% translate 'create user'|capfirst %}</a>
                          </li>
                        {% endif %}
                      </ul>
                    </li>
                  {% endif %}
                {% endif %}
                <li class="sidebar-item">
                  <a class="sidebar-link" href="{% url 'tm:library' %}">
                    <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">{% trans 'library'|capfirst %}</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link"
                     href="{% url 'users:detail' request.user.username %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">{% trans 'profile'|capfirst %}</span>
                  </a>
                </li>
                {% if settings.SETTINGS_MODULE != "config.settings.production" and request.user.is_staff %}
                  <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'tm:anonymize-data' %}">
                      <i class="align-middle text-danger" data-feather="alert-triangle"></i> <span class="align-middle">{% trans 'anonymize data'|capfirst %}</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
              {% if request.user.is_staff %}
                <div class="sidebar-brand">
                  <div class="d-grid">
                    <a href="{% url 'admin:index' %}"
                       class="btn btn-outline-danger"
                       target="_blank">Admin</a>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </nav>
      {% endif %}
      <div class="main">
        {% if not view.is_popup %}
          <nav class="navbar navbar-expand navbar-light {% if settings.SETTINGS_MODULE == "config.settings.local" %}bg-warning {% elif settings.SETTINGS_MODULE == "config.settings.testserver" %}bg-success {% else %}navbar-bg{% endif %}">
            <a class="sidebar-toggle js-sidebar-toggle">
              <i class="hamburger align-self-center"></i>
            </a>
            {% if perms.tm.can_search_attempt %}
              <div class="d-none d-sm-inline-block">
                <div class="autocomplete" id="autocomplete">
                  <input class="autocomplete-input" placeholder="Search…" aria-label="Search" />
                  <ul class="autocomplete-result-list">
                  </ul>
                </div>
              </div>
            {% endif %}
            {% if request.user.is_authenticated %}
              <ul class="navbar-nav d-none d-lg-flex">
                {% if request.user.majors.all|length > 1 %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="majorDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">{% trans 'major'|capfirst %} {{ current_major.code }}</a>
                    <div class="dropdown-menu" aria-labelledby="majorDropdown">
                      {% for major in request.user.majors.all %}
                        <a class="dropdown-item{% if major.id == request.session.tm_major_id %} active{% endif %}"
                           href="{% url 'tm:set-major' major.id %}">{{ major }}</a>
                      {% endfor %}
                    </div>
                  </li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"
                     href="#"
                     id="resourcesDropdown"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false">{% trans 'session'|capfirst %} {{ current_session.name }}</a>
                  <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
                    {% for session in sessions %}
                      <a class="dropdown-item{% if session == current_session %} active{% endif %}"
                         href="{% url 'tm:set-session' session.id %}">{{ session.name }}</a>
                    {% endfor %}
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"
                     href="#"
                     id="resourcesDropdown"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false">Resources</a>
                  <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
                  <a class="dropdown-item"
                     href="{% slugurl 'documents-and-regulations' %}"><i class="align-middle me-1" data-feather="paperclip"></i>
                {% trans 'Documents and regulations' %}</a>
              <a class="dropdown-item" href="{% url 'tm:library' %}"><i class="align-middle me-1" data-feather="book-open"></i>
            {% trans 'Past thesis subjects' %}</a>
            <a class="dropdown-item"
               href="https://gitlab.com/heg-arc/mscba-tm-manager/-/blob/main/CHANGELOG"
               target="_blank"><i class="align-middle me-1" data-feather="edit"></i> {% trans 'Changelog' %}</a>
          </div>
        </li>
        {% if settings.SETTINGS_MODULE != "config.settings.production" %}
          <li class="nav-item nav-link ms-6">
            Settings: <strong>{{ settings.SETTINGS_MODULE }}</strong>
          </li>
        {% endif %}
        {{ select_session|safe }}
      </ul>
    {% endif %}
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <li class="nav-item dropdown">
          <a class="nav-flag dropdown-toggle"
             id="languageDropdown"
             href="#"
             data-bs-toggle="dropdown">
            <img src="{% static 'images/flags/'|add:LANGUAGE_CODE|add:'.png' %}"
                 alt="{{ LANGUAGE_CODE|language_name_local|capfirst }}" />
          </a>
          <div class="dropdown-menu dropdown-menu-end"
               aria-labelledby="languageDropdown"
               id="language-list">
            {% for language in languages %}
              <a class="dropdown-item"
                 href="{% url 'set_language' language.code %}"
                 data-language-code="{{ language.code }}">
                <img src="{% static 'images/flags/'|add:language.code|add:'.png' %}"
                     alt="{{ language.name_local|capfirst }}"
                     width="20"
                     class="align-middle me-1" />
                <span class="align-middle">{{ language.name_local|capfirst }}</span>
              </a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-icon js-fullscreen d-none d-lg-block" href="#">
            <div class="position-relative">
              <i class="align-middle" data-feather="maximize"></i>
            </div>
          </a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-icon pe-md-0 dropdown-toggle"
               href="#"
               data-bs-toggle="dropdown">
              <img src="{{ request.user.email|gravatar }}"
                   class="avatar img-fluid rounded"
                   alt="{{ request.user.name }}" />
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item"
                 href="{% url 'users:detail' request.user.username %}"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
              <div class="dropdown-divider"></div>
              {% if settings.SETTINGS_MODULE != "config.settings.production" %}
                {% if settings.SETTINGS_MODULE == "config.settings.testserver" %}
                  {% comment %} djlint:off {% endcomment %}
                  <a class="dropdown-item" href="/mailhog/" target="_blank"><i class="align-middle me-1" data-feather="inbox"></i> Webmail</a>
                {% else %}
                  <a class="dropdown-item" href="http://localhost:8025/" target="_blank"><i class="align-middle me-1" data-feather="inbox"></i> Webmail</a>
{% comment %} djlint:on {% endcomment %}
{% endif %}
<div class="dropdown-divider"></div>
{% endif %}
<a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Log out" %}</a>
</div>
</li>
{% endif %}
</ul>
</div>
</nav>
{% endif %}
<main class="content">
<div class="container-fluid p-0">
{% if messages %}
<div class="row mb-2 mb-xl-3">
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
<div class="alert-message">{{ message }}</div>
</div>
{% endfor %}
</div>
{% endif %}
{% if not view.is_popup %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item">
<a href="{% url 'tm:dashboard' %}">Home</a>
</li>
{% block nav %}
{% endblock nav %}
</ol>
</nav>
{% endif %}
{% block content %}
<div class="row mb-2 mb-xl-3">
<div class="col-auto d-none d-sm-block">
<h3>
<strong>Analytics</strong> Dashboard
</h3>
</div>
<div class="col-auto ms-auto text-end mt-n1">
<a href="#" class="btn btn-light bg-white me-2">Invite a Friend</a>
<a href="#" class="btn btn-primary">New Project</a>
</div>
</div>
<p>Use this document as a way to quick start any new project.</p>
<div class="row">
<div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-1">
<div class="card flex-fill">
<div class="card-header">
<h5 class="card-title mb-0">Card</h5>
</div>
<div class="card-body d-flex">
<div class="align-self-center w-100">...</div>
</div>
</div>
</div>
</div>
{% endblock content %}
</div>
</main>
{% if not view.is_popup %}
<footer class="footer">
<div class="container-fluid">
<div class="row text-muted">
<div class="col-6 text-start">
<p class="mb-0">
&copy; {% now "Y" %} - <a href="https://hes-so.ch/" target="_blank" class="text-muted"><strong>HES-SO</strong></a>
</p>
</div>
<div class="col-6 text-end">
<ul class="list-inline">
<li class="list-inline-item">
<a class="text-muted" href="#">Support</a>
</li>
{% if request.user.is_authenticated %}
<li class="list-inline-item">{% active_users as user_list %}{{ user_list|length }} connected user(s)</li>
<li class="list-inline-item">
<a class="text-muted" href="https://gitlab.com/heg-arc/mscba-tm-manager/commit/{{ settings.GIT_REVISION }}" target="_blank">{{ settings.GIT_REVISION }}</a>
</li>
{% endif %}
</ul>
</div>
</div>
</div>
</footer>
{% endif %}
</div>
</div>
<script src="{% static 'js/app.js' %}"></script>
{% block modal %}
{% endblock modal %}
{% if perms.tm.can_search_attempt %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    new Autocomplete('#autocomplete', {
      search: input => {
        const url = `{% url 'tm:attempts-autocomplete' %}?q=${encodeURI(input)}`

        return new Promise(resolve => {
          if (input.length < 3) {
            return resolve([])
          }

          fetch(url)
            .then(response => response.json())
            .then(data => {
              resolve(data.results)
            })
        })
      },

      getResultValue: result => result.text,

      onSubmit: result => {
        window.location.href = `{% url 'tm:attempt-resolver' %}${encodeURI(result.id)}/`
      }
    })
  })
</script>
{% endif %}
{% block inline_javascript %}
{% endblock inline_javascript %}
</body>
</html>
