{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "invite new expert"|capfirst %}
{% endblock %}
{% block content %}
  <h2>{% translate 'expert proposal'|capfirst %}</h2>
  {% blocktranslate %}
    <p>Please enter the information required to register a new expert. The expert will be automatically contacted to complete his/her personal information.</p>
    <p>Once the information is complete, the expert may be assigned to the master's thesis.</p>
  {% endblocktranslate %}
  {% crispy form %}
{% endblock content %}
