{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "profile"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <h2>{{ object.name }}</h2>
      <p>
        {% for major in object.majors.all %}
          {{ major }}
          {% if not forloop.last %}/{% endif %}
        {% empty %}{% trans 'major not defined'|capfirst %}
        {% endfor %}
      </p>
      <p>
        {% trans 'contact address'|capfirst %}:
        {% if request.user.email %}
          <a href="mailto:{{ request.user.email }}" class="alert-link">{{ request.user.email }}</a>
        {% else %}
          {% trans 'email address undefined'|capfirst %}
        {% endif %}
        <br />
        {% trans 'profile'|capfirst %}:
        {% if object.is_mh %}
          <span class="badge bg-light-dark">{% trans 'Module head' %}</span>
        {% endif %}
        {% if object.is_supervisor %}
          <span class="badge bg-light-dark">{% trans 'Supervisor' %}</span>
        {% endif %}
        {% if object.is_expert %}
          <span class="badge bg-light-dark">{% trans 'Expert' %}</span>
        {% endif %}
        {% if object.is_student %}
          <span class="badge bg-light-dark">{% trans 'Student' %}</span>
        {% endif %}
        {% if not object.is_mh and not object.is_supervisor and not object.is_student and not object.is_expert %}
          <span class="badge bg-danger">{% trans 'Profile undefined' %}</span>
        {% endif %}
        <br />
        {% trans 'UID'|capfirst %}: {{ object.username }}
      </p>
    </div>
  </div>
  <div class="row">
    {% for attempt in object.attempts.all %}
      <div class="col-sm-6 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
            <h5 class="card-title mb-0">
              {% trans 'session'|capfirst %} {{ attempt.session }}
              {% if attempt.archived %}
                <span class="badge bg-secondary ms-2">{% trans 'archived'|capfirst %}</span>
              {% elif object.attempt == attempt %}
                <span class="badge bg-success ms-2">{% trans 'current'|capfirst %}</span>
              {% endif %}
            </h5>
          </div>
          <div class="card-body">
            <p>{% trans 'major'|capfirst %} {{ attempt.major }}</p>
            <p>{% trans 'thesis start'|capfirst %} {{ attempt.current_calendar.thesis_start }}</p>
            <p>
              {% trans 'thesis end'|capfirst %} <strong>{{ attempt.current_calendar.thesis_end }}</strong>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if object.is_expert %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-4">{% translate "expert profile"|capfirst %}</h4>
            <p>
              <strong>{% translate "majors"|capfirst %}</strong>:
              {% for major in object.majors.all %}
                {{ major }}
                {% if not forloop.last %}/{% endif %}
              {% empty %}{% trans 'major not defined'|capfirst %}
              {% endfor %}
            </p>
            <p>
              <i class="fa fa-building"></i>
              {% if object.current_job %}
                {{ object.current_job }}
              {% else %}
                {% translate "current position not defined"|capfirst %}
              {% endif %}
              {% if object.current_company %}
                ({{ object.current_company }})
              {% else %}
                ({% translate "current company not defined" %})
              {% endif %}
            </p>
            <p>
              <i class="fa-brands fa-linkedin"></i>
              {% if object.profile_linkedin %}
                <a href="{{ object.profile_linkedin }}" target="_blank">LinkedIn</a>
              {% else %}
                {% translate "LinkedIn profile not defined"|capfirst %}
              {% endif %}
            </p>
            <p>
              <i class="fa fa-graduation-cap"></i>
              {% if object.highest_degree %}
                {{ object.highest_degree }} ({{ object.year_of_graduation }})
              {% else %}
                {% translate 'education not defined'|capfirst %}
              {% endif %}
            </p>
            <p>
              <strong>{% translate "address"|capfirst %}</strong>
              <br />
              <i>{% translate "Master's theses and other administrative documents will be sent to this address." %}</i>
            </p>
            <p>
              {% if object.address %}
                {{ object.name }}
                <br />
                {{ object.address }}
                <br />
                {% if object.additional_address %}
                  {{ object.additional_address }}
                  <br />
                {% endif %}
                {{ object.zip_code }} {{ object.city }}
              {% else %}
                {% translate 'current address not defined'|capfirst %}
              {% endif %}
            </p>
            <p>
              <a href="{% url 'users:update' %}" class="btn btn-outline-primary">{% translate 'update profile'|capfirst %}</a>
            </p>
            {% if not object.profile_validated %}
              <div class="alert alert-warning" role="alert">
                <div class="alert-message">
                  <h4 class="alert-heading">{% translate 'Profile not validated!' %}</h4>
                  {% if not object.current_job or not object.highest_degree %}
                    <p>{% translate "Some required information is missing. Please edit the profile and add the missing data." %}</p>
                    <p>{% translate "When all the information is complete, you will be able to validate your expert profile." %}</p>
                  {% else %}
                    <p>
                      <a href="{% url 'users:expert-validation' %}" class="btn btn-success">{% translate 'validate my profile and join the team of experts'|capfirst %}</a>
                    </p>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
