{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "experts"|capfirst %}
{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      {% if perms.users.add_user %}
        <div class="row">
          <p>
            <a class="btn btn-outline-primary float-end ms-1"
               href="{% url 'users:expert-standalone-create' %}">{% translate 'add external expert'|capfirst %}</a>
            <a class="btn btn-outline-primary float-end"
               href="{% url 'tm:create-user-hes-so' %}">{% translate 'add expert from HES-SO directory'|capfirst %}</a>
          </p>
        </div>
      {% endif %}
      {% if perms.users.can_adopt_user %}
        <p>
          {% translate "You can adopt an expert in your major by clicking the <b>Adopt</b> button." %}
        </p>
      {% endif %}
      <table class="table table-striped" id="exceptionsTable">
        <thead>
          <tr>
            <th>{% trans 'name'|capfirst %}</th>
            <th>{% trans 'occupation'|capfirst %}</th>
            <th>{% trans "education"|capfirst %}</th>
            <th>{% trans 'majors'|capfirst %}</th>
            {% if perms.users.can_adopt_user %}
              <th>{% trans 'adopt'|capfirst %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for user in object_list %}
            <tr>
              <td>
                {{ user }}
                {% if user.email %}<a href="mailto:{{ user.email }}" class="ms-1"><i class="fa fa-envelope"></i></a>{% endif %}
              </td>
              <td>
                {% if user.current_job %}
                  {{ user.current_job }}
                  {% if user.current_company %}, <i>{{ user.current_company }}</i>{% endif %}
                {% elif user.current_company %}
                  {{ user.current_company }}
                {% endif %}
                {% if user.profile_linkedin %}
                  <a href="{{ user.profile_linkedin }}" target="_blank" class="ms-1"><i class="fa-brands fa-linkedin"></i></a>
                {% endif %}
              </td>
              <td>
                {% if user.highest_degree %}
                  {{ user.highest_degree }}
                  {% if user.year_of_graduation %}({{ user.year_of_graduation }}){% endif %}
                {% endif %}
              </td>
              <td>
                {% for major in user.majors.all %}<span class="me-1 badge bg-secondary">{{ major.code }}</span>{% endfor %}
              </td>
              {% if perms.users.can_adopt_user %}
                <td class="text-center">
                  {% if current_major not in user.majors.all %}
                    <a href="{% url 'tm:adopt-expert' user.id %}"
                       class="btn btn-sm btn-outline-primary"><i class="fa fa-plus"></i></a>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
