{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Change Password" %}
{% endblock %}
{% block inner %}
  <h1>
    {% if token_fail %}
      {% translate "Bad Token" %}
    {% else %}
      {% translate "Change Password" %}
    {% endif %}
  </h1>
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% blocktranslate %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktranslate %}
    </p>
  {% else %}
    {% if form %}
      <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary"
               type="submit"
               name="action"
               value="{% translate 'change password' %}" />
      </form>
    {% else %}
      <p>{% translate 'Your password is now changed.' %}</p>
    {% endif %}
  {% endif %}
{% endblock %}
