{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Set Password" %}
{% endblock %}
{% block inner %}
  <h1>{% translate "Set Password" %}</h1>
  <form method="post"
        action="{% url 'account_set_password' %}"
        class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary"
           type="submit"
           name="action"
           value="{% translate 'Set Password' %}" />
  </form>
{% endblock %}
