{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Change Password" %}
{% endblock %}
{% block inner %}
  <h1>{% translate "Change Password" %}</h1>
  <form method="post"
        action="{% url 'account_change_password' %}"
        class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" name="action">{% translate "Change Password" %}</button>
  </form>
{% endblock %}
