{% load i18n %}

<div class="card w-100">
  <div class="card-header">
    <h5 class="card-title mb-0">{% translate "attempt milestones"|capfirst %}</h5>
  </div>
  <div class="card-body">
    <p>
      {% trans 'Phase 1' %} - <strong>{% trans 'Pre-proposal' %}</strong>
    </p>
    {% if attempt.proposal_done %}
      {% for proposal in attempt.accepted_proposals %}
        <p>
          <a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a>
        </p>
      {% endfor %}
    {% else %}
      <p>{% translate 'in progress' %}</p>
    {% endif %}
    <p>
      {% trans 'Phase 2' %} - <strong>{% trans 'Final Proposal' %}</strong>
    </p>
    {% if attempt.project_done %}
      {% for project in attempt.accepted_project %}
        <p>
          <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
        </p>
      {% endfor %}
    {% else %}
      <p>{% translate 'in progress' %}</p>
    {% endif %}
    <p>
      {% trans 'Phase 3' %} - <strong>{% trans 'Master Thesis' %}</strong>
    </p>
    {% if attempt.thesis_done %}
      {% for thesis in attempt.theses.all %}
        <p>
          <a href="{{ thesis.get_absolute_url }}">{{ thesis.title }}</a>
        </p>
      {% endfor %}
    {% else %}
      <p>{% translate 'in progress' %}</p>
    {% endif %}
    <p>
      {% trans 'Phase 4' %} - <strong>{% trans 'Thesis Defense' %}</strong>
    </p>
    {% if attempt.thesis_done %}
      {% for thesis in attempt.theses.all %}
        {% for defense in thesis.defenses.all %}
          <p>{{ defense.defense_date }} {{ defense.place }} {{ defense.room }}</p>
        {% endfor %}
      {% endfor %}
    {% else %}
      <p>{% translate 'in progress' %}</p>
    {% endif %}
  </div>
</div>
