{% load i18n %}

<div class="row">
  <div class="col-md-12">
    <h1>
      {{ attempt.student.name }}
      {% if attempt.retake %}
        <span class="ms-1 badge bg-secondary">{% translate 'retake'|upper %}</span>
      {% endif %}
    </h1>
    {% if settings.SETTINGS_MODULE != "config.settings.production" %}
      <p class="text-warning">
        <i>{{ attempt.student.username }}</i>
      </p>
    {% endif %}
    <h4>{% translate 'session'|capfirst %} {{ attempt.session }} - {{ attempt.major }}</h4>
    <p>
      <strong>{% trans 'supervisor'|capfirst %}</strong>:
      {% if attempt.supervisor %}
        {{ attempt.supervisor }}
      {% else %}
        {% trans 'To be defined' %}
      {% endif %}
      {% if attempt.co_supervisors %}
        <br />
        <strong>{% trans 'co-supervisor(s)'|capfirst %}</strong>:
        {{ attempt.co_supervisors.all|join:", " }}
      {% endif %}
    </p>
    <p>
      <strong>{% trans 'calendar'|capfirst %}</strong>:
      <a href="{{ attempt.current_calendar.get_absolute_url }}"
         target="_blank">{{ attempt.current_calendar.label }}</a>
      {% if attempt.current_calendar.custom %}
        <span class="ms-1 badge bg-secondary">{% translate 'custom'|upper %}</span>
      {% endif %}
      {% if attempt.current_calendar.over_session %}
        <span class="ms-1 badge bg-warning"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-content="{{ attempt.current_calendar.over_session }}">{% translate 'over session'|upper %}</span>
      {% endif %}
      <br />
      <strong>{% trans 'Submission of the master thesis'|capfirst %}</strong>:
      <strong>{{ attempt.current_calendar.thesis_end|date:"SHORT_DATE_FORMAT" }}</strong>
    </p>
    {% if attempt.has_exceptions %}
      {% include 'tm/snippets/student_exception_alert.html' %}
    {% endif %}
  </div>
</div>
