{% load i18n %}

<div class="card-body">
  <h4>
    {% trans 'Milestones and deliverables' %}
    {% if calendar.custom %}
      <span class="ms-1 badge bg-secondary">{% translate 'custom'|upper %}</span>
    {% endif %}
  </h4>
  <p>
    {% trans 'Phase 1' %} - <strong>{% trans 'Pre-proposal' %}</strong>
  </p>
  <ul>
    <li>
      {% trans 'Pre-proposal' %}: {{ calendar.proposal_start }} - <strong>{{ calendar.proposal_end }}</strong>
    </li>
    <li>{% trans 'Pre-proposal Rework' %}: {{ calendar.proposal_rework_start }} - {{ calendar.proposal_rework_end }}</li>
  </ul>
  <p>
    {% trans 'Phase 2' %} - <strong>{% trans 'Final Proposal' %}</strong>
  </p>
  <ul>
    <li>
      {% trans 'Final Proposal' %}: {{ calendar.project_start }} - <strong>{{ calendar.project_end }}</strong>
    </li>
    <li>{% trans 'Final Proposal Rework' %}: {{ calendar.project_rework_start }} - {{ calendar.project_rework_end }}</li>
  </ul>
  <p>
    {% trans 'Phase 3' %} - <strong>{% trans 'Master Thesis' %}</strong>
  </p>
  <ul>
    <li>
      {% trans 'Master Thesis' %}: {{ calendar.thesis_start }} - <strong>{{ calendar.thesis_end }}</strong>
    </li>
    <li>{% trans 'Progress Report' %}: {{ calendar.report_start }} - {{ calendar.report_end }}</li>
  </ul>
  <p>
    {% trans 'Phase 4' %} - <strong>{% trans 'Thesis Defense' %}</strong>
  </p>
  <ul>
    <li>{% trans 'Thesis Defense' %}: {{ calendar.defense_start }} - {{ calendar.defense_end }}</li>
  </ul>
  {% if calendar.over_session %}
    <p class="text-danger">
      <strong>{{ calendar.over_session }}</strong>
    </p>
  {% endif %}
</div>
