{% load i18n %}

<div class="card w-100">
  <div class="card-header">
    <h5 class="card-title mb-0">{% translate "personal leaves"|capfirst %}</h5>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">{% translate 'recorded leaves'|capfirst %}</th>
        </tr>
      </thead>
      <tbody>
        {% for leave in attempt.leaves.all %}
          <tr>
            <td>
              <i class="fa {{ leave.icon }}"></i> {{ leave.get_type_of_leave_display }}
            </td>
            <td>
              {{ leave.first_day_leave }} - {{ leave.last_day_leave }} ({{ leave.duration_days }} {% translate 'days' %}
              {% if leave.duration_days != leave.effective_days %}
                ,
                <span class="text-danger">{{ leave.effective_days }} {% translate 'days' %} {% translate 'were taken into account' %}</span>
              {% endif %}
              )
              <br />
              <i>{{ leave.basis }}</i>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">{% translate 'No recorded leaves' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="card-text">
      {% translate 'In case of medical leave, please send your certificate to the secretariat. Once taken into account, the absence will be displayed and the calendar adapted accordingly.' %}
    </p>
    {% if perms.tm.add_personalleave %}
      <a href="{% url 'tm:add-leave' attempt.id %}" class="btn btn-primary">{% translate 'record a new leave'|capfirst %}</a>
    {% endif %}
  </div>
</div>
