{% load i18n %}

<div class="card w-100">
  <div class="card-header">
    <h5 class="card-title mb-0">{% translate "special situations"|capfirst %}</h5>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>{% translate 'current special situations'|capfirst %}</th>
        </tr>
      </thead>
      <tbody>
        {% for exception in exceptions %}
          <tr class="position-relative">
            <td>
              <a href="{{ exception.get_absolute_url }}" class="stretched-link">{{ exception.reason }}</a>
              {% if exception.block_tm %}
                <span class="ms-1 badge bg-danger">{% translate "master's thesis"|upper %}</span>
              {% endif %}
              {% if exception.block_defense %}
                <span class="ms-1 badge bg-danger">{% translate "defense"|upper %}</span>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">{% translate 'No special situation' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="card-text">
      {% translate "Special situations preventing either the completion of the Master's thesis or its defense are listed above. If you have any questions, please contact the secretariat." %}
    </p>
    {% if perms.tm.add_studentexception %}
      <a href="{% url 'tm:add-exception' attempt.id %}"
         class="btn btn-primary">{% translate 'record a new student exception'|capfirst %}</a>
    {% endif %}
  </div>
</div>
