{% load i18n %}

<div class="alert alert-danger" role="alert">
  <div class="alert-message">
    <p>
      {% translate "Special situation due to missing credits or other administrative reasons." %}
      {% translate 'This situation prevents' %}
      {% if attempt.block_tm %}
        <strong>{% trans "the completion of the master's thesis" %}</strong>
        {% if not attempt.block_defense %}.{% endif %}
      {% endif %}
      {% if attempt.block_defense %}
        {% if attempt.block_tm %}
          {% trans "and" %}
        {% endif %}
        <strong>{% trans "the defense of the master's thesis" %}</strong>.
      {% endif %}
      {% blocktranslate with resolution_date=attempt.exception_probable_resolution_date|date:"SHORT_DATE_FORMAT" %}
        The situation could be resolved on <strong>{{ resolution_date }} at the earliest</strong>, depending on the
        results of the exam session.
      {% endblocktranslate %}
    </p>
  </div>
</div>
