{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="Online platform for the management and supervision of {{ settings.APP_SHORT_TITLE }} HES-SO master's theses" />
    <meta name="author" content="Cedric Gaspoz" />
    <meta name="keywords"
          content="{{ settings.APP_SHORT_TITLE }} Master's Theses TM" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon"
          type="image/x-icon"
          href="{% static 'images/favicons/favicon.ico' %}" />
    <title>{{ settings.APP_SHORT_TITLE }} |
      {% block title %}
        Master Thesis
      {% endblock title %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
          rel="stylesheet" />
    {% block css %}
      <link href="{% static 'css/light.css' %}" rel="stylesheet" />
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock %}
    {% block javascript %}
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
    <style>
      @font-face {
        font-family: 'Helvetica Now Display';
        src: local('Helvetica Now Display Extra Bold'),
        local('Helvetica-Now-Display-Extra-Bold'),
        url("{% static '/fonts/HelveticaNowDisplay-ExtraBold.woff2' %}") format('woff2'),
        url("{% static '/fonts/HelveticaNowDisplay-ExtraBold.woff' %}") format('woff'),
        url("{% static '/fonts/HelveticaNowDisplay-ExtraBold.ttf' %}") format('truetype');
        font-weight: 800;
        font-style: normal;
      }

      body {
        background: url("{% static 'images/backgrounds/bg_login.jpeg' %}") no-repeat center center fixed,
        linear-gradient(90deg, rgba(0, 0, 0, 0.7287436092601103) 0%, rgba(255, 255, 255, 0) 60%);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        overflow-x: hidden;
      }

      .container:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
        height: 100%;
        width: 50%;
        opacity: 0.75;
        z-index: -1;
      }

      .mscba-title h1 {
        background: rgba(0, 151, 215, 0.9);
        color: white;
        font-family: 'Helvetica Now Display', sans-serif;
        font-size: 65px;
        padding: 15px;
        line-height: 1.6;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        display: inline;
      }

      .aai {
        padding: 15px;
        color: white;
        background: rgba(0, 151, 215, 0.9);
      }

      .aai a {
        color: white;
        text-decoration-line: underline;
      }
    </style>
    <script type="text/javascript">
      <!--
      var wayf_URL = "https://wayf.switch.ch/SWITCHaai/WAYF";
      var wayf_sp_entityID = "https://mscba.hes-so.ch/shibboleth";
      var wayf_sp_handlerURL = "https://mscba.hes-so.ch/Shibboleth.sso";
      var wayf_return_url = "https://mscba.hes-so.ch{% if next_url %}{{  next_url }}{% else %}/tm/{% endif %}";
      var wayf_use_eduid_logo = true;
      var wayf_most_used_idps = new Array("https://aai-logon.hes-so.ch/idp/shibboleth", );
      var wayf_font_size = 15;
      var wayf_font_color = '#ffffff';
      var wayf_border_color = '#0097d7e6';
      var wayf_background_color = '#0097d7e6';
      //////////////////// ADVANCED SETTINGS ////////////////////
      var wayf_use_improved_drop_down_list = true;
      var wayf_default_idp = "https://aai-logon.hes-so.ch/idp/shibboleth";
      //-->
    </script>
</head>
<body>
<div class="row">
<div class="col mt-4 ms-4">
<img alt="Logo HES-SO Master" src="{% static 'images/logos/logo_hesso_master.svg' %}" width="150" />
</div>
</div>
<div class="container">
<div class="row">
<div class="col-xl-3 col-lg-2 col-sm-12"></div>
<div class="col-xl-6 col-lg-8 col-sm-12">
<div class="row">
<div class="col mt-4">
<div class="mscba-title">
<h1>
{{ settings.APP_SHORT_TITLE }}
<br />
Master Thesis
</h1>
</div>
</div>
</div>
{% if settings.SETTINGS_MODULE == "config.settings.production" %}
<div class="row">
<div class="col mt-6">
<!-- EMBEDDED-WAYF-START -->
<script type="text/javascript" src="https://wayf.switch.ch/SWITCHaai/WAYF/embedded-wayf.js"></script>
<noscript>
<p>
{% comment %} djlint:off {% endcomment %}
<strong>Login:</strong> Javascript is not enabled for your web browser. Please use the <a href="/Shibboleth.sso/DS?target=https%3A%2F%2Fmarmix.ig.he-arc.ch%2F">non-Javascript Login</a>.
{% comment %} djlint:on {% endcomment %}
</p>
</noscript>
<!-- EMBEDDED-WAYF-END -->
<p class="aai pt-4">
{% trans 'If you have any question regarding this site, please contact' %} <a href="mailto:mscba-tm@hes-so.ch">mscba-tm@hes-so.ch</a>
</p>
</div>
</div>
{% endif %}
{% if settings.SETTINGS_MODULE == "config.settings.testserver" %}
<div class="row mt-6">
<div class="col">
<div class="aai" style="padding-bottom: 50px;">
<p>
{% translate "This is the test server. You will need to use your UID to log in. You'll find your UID on the production server in your profile." %}
</p>
<p>
<a href="{% url 'account_login' %}" class="btn btn-dark float-end" style="text-decoration-line: none">UID account login</a>
</p>
</div>
</div>
</div>
{% else %}
<div class="row mt-2">
<div class="col">
<a href="{% url 'account_login' %}" class="btn btn-dark float-end">Local account login</a>
</div>
</div>
{% endif %}
</div>
<div class="col-xl-3 col-lg-2 col-sm-12"></div>
</div>
</div>
</body>
</html>
